﻿@using System.Web.Configuration
@model Responsavel.WebMVC.Models.ViewModelParaHome

@{
    ViewBag.Title = $"Ambiente Minhas Atividades {WebConfigurationManager.AppSettings["AnoLetivo"]}";
}

@{
    Html.RenderPartial("_MensagensNotificacoes", Model);
}

<section class="content">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

                <div id="navBar" class="nav-center">
                </div>

                <div id="navBarItem" class="tab-content">
                </div>
            </div>
        </div>

    </div>

</section>

@section scripts {

    @if (User.IsInRole("01-LINTE-ADMINISTRACAO"))
    {
        Html.RenderPartial("_menuAdministrador");
    }
    else
    {
        Html.RenderPartial("_menuResponsavel");
    }

    <script>

        function CarregarMenu() {

            var menu = $('#navBar');
            var menuItem = $("#navBarItem");
            ExibirMenu(menu, menuItem, JSON.menu);
        }

        window.onload = CarregarMenu();
    </script>

}