﻿<div class="bodyGhost">
    <div class="candyTrail">
        <div class="candycorn"></div>
        <div class="candy"></div>
        <div class="candy"></div>
        <div class="candycorn"></div>
        <div class="candy"></div>
        <div class="candycorn"></div>
        <div class="candycorn"></div>
        <div class="candy"></div>
        <div class="candycorn"></div>
    </div>
    <div class="ghost">
        <div class="tail"></div>
        <div class="eyes">
            <div class="eye"></div>
            <div class="eye"></div>
        </div>
        <div class="mouth"></div>
        <div class="bucket">
            <div class="candy"></div>
        </div>
        <div class="hand"></div>
    </div>
    <div class="shadow"></div>
</div>
