﻿<div class="ghost-container">
    <div class="ghost">
        <div class="body-top">
            <div class="eyes">
                <div class="eye eye-left"></div>
                <div class="eye eye-right"></div>
            </div>
        </div>
        <div class="body-low">
        </div>
        <div class="hand"></div>
        <div class="skirt"></div>
    </div>
    <div class="shadow"></div>
</div>

<!-- <div id="title">strange industries</div> -->