﻿<script type="text/javascript">

    var JSON = {
        menu:
        [
            {
                descricao: 'Meus eventos', icone: 'supervisor_account', ref: 'menuSuperiorEventos', classContent: 'active show', sub:
                [
                    {
                        descricao: 'Opções', icone: '', ref: 'menuOpcoesEvento', classContent: 'active show', sub:
                        [
                                { descricao: 'Emissão de certificado', detalhe: '<span>Utilize essa opção para imprimir os certificados disponíveis para os eventos que você participou.</span><br/><span>Alguns eventos <span style="font-weight:bold">exigem participação e controle de frequência</span>, caso você não encontre seu certificado, verifique na opção abaixo as frequencias que você possui.</span><p></p><p>Recomendamos o uso do navegador <span style="font-weight:bold;color:maroon">Google Chrome</span> para impressão do certificado, em alguns navagadores o modelo poderá quebrar em duas paginas.</p>', icone: 'looks_one', controllerName: 'CertificadoParticipante', actionName: 'Index' },
                            { descricao: 'Dados de frequência', detalhe: 'Utilize essa opção para exibir o relatório de frequências coletados nos eventos que você participou.', icone: 'looks_one', controllerName: 'FrequenciaParticipante', actionName: 'Index' },

                        ]
                    }
                ]
            },
            {
                descricao: 'Ajuda', icone: 'help_outline', ref: 'menuSuperiorAjuda', classContent: '', sub:
                [
                    {
                        descricao: 'Ajuda', icone: '', ref: 'menuAjuda', classContent: 'active', sub:
                        [
                            { descricao: 'Fale conosco', detalhe: 'Obter suporte', icone: 'looks_two', controllerName: 'Suporte', actionName: 'Index' },
                            { descricao: '@ViewBag.AgendaDoEstudanteVersion', detalhe: 'Versão do software Agenda do Estudante', icone: 'looks_3', controllerName: '', actionName: '' }
                        ]
                    }
                ]
            }
        ]
    }

</script>

