﻿@{
    ViewBag.Title = "Home";
}

<section class="content">

    <div class="container-fluid">
        
        <div class="row">
            @{
                Html.RenderPartial("_layoutEscola");
            }

        </div>

        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">Área do Responsável</h2>
                        <h5 class="description">Selecione abaixo um dos ambientes da área do responsável para ter acesso aos menus.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-pricing">
                            <h6 class="card-category">Minhas Atividades</h6>
                            <div class="card-body">
                                <div class="card-icon">
                                    <i class="material-icons">event_note</i>
                                </div>
                                <h3 class="card-title">Minhas Atividades</h3>
                                <p class="card-description">Dados das minhas atividades</p>
                            </div>
                            <div class="card-footer-botao">
                                @Html.ActionLink("Acessar ambiente...", "Index", "AmbienteMinhasAtividades", new {area = ""}, new {@class = "btn btn-round", data_background_color = "blue"})
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="card card-pricing ">
                            <h6 class="card-category">Avaliação e Simulados</h6>
                            <div class="card-body">
                                <div class="card-icon">
                                    <i class="material-icons">dashboard</i>
                                </div>
                                <h3 class="card-title">Avaliação e Simulados</h3>
                                <p class="card-description">Relatório de simulados e avaliações</p>
                            </div>
                            <div class="card-footer-botao">
                                @Html.ActionLink("Acessar ambiente...", "Index", "AmbienteAvaliacaoSimulado", new {area = ""}, new {@class = "btn btn-round", data_background_color = "blue"})
                            </div>
                        </div>
                    </div>

                    @if (User.IsInRole("01-LINTE-ADMINISTRACAO"))
                    {
                        <div class="col-md-6">
                            <div class="card card-pricing">
                                <h6 class="card-category">Redação</h6>
                                <div class="card-body">
                                    <div class="card-icon">
                                        <i class="material-icons">description</i>
                                    </div>
                                    <h3 class="card-title">Redação</h3>
                                    <p class="card-description">Configuração de redações</p>
                                </div>
                                <div class="card-footer-botao">
                                    @Html.ActionLink("Acessar ambiente...", "Index", "AmbienteRedacao", new {area = ""}, new {@class = "btn btn-round", data_background_color = "blue"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-pricing">
                                <h6 class="card-category">Notas Disciplinares</h6>
                                <div class="card-body">
                                    <div class="card-icon">
                                        <i class="material-icons">spellcheck</i>
                                    </div>
                                    <h3 class="card-title">Notas Disciplinares</h3>
                                    <p class="card-description">Dados das notas disciplinares</p>
                                </div>
                                <div class="card-footer-botao">
                                    @Html.ActionLink("Acessar ambiente...", "Index", "AmbienteNotasDisciplinares", new {area = ""}, new {@class = "btn btn-round", data_background_color = "blue"})
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>

    </div>

</section>