﻿@using SIOL.WebMVC.App_Helpers
@model SIOL.WebMVC.Models.Suporte.SuporteViewModel
@{
    ViewBag.Title = "Connect Automação - Ticket de Suporte";
    Layout = "~/Views/Shared/_LayoutErrorPadrao.cshtml";
}

<main class="full-page login-page" filter-color="black" style="background-image:url(@Url.RootContentArea("imagens/imagemlogin1.jpg")); background-size:cover;">

    <section class="content custom-background-image">

        <div class="container">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">
                    <div class="card card-signup">
                        <div class="registros-alertas">
                            <div class="alert alert-warning">
                                <h2 class="card-title text-center" style="color: #fff;">Informe no campo abaixo sua solicitação</h2>
                            </div>
                        </div>
                        
                        @using (Html.BeginForm("EnviarTicketDoUsuario", "Suporte", FormMethod.Post, new { id = "Form-EditarPendencia-Protocolo" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">

                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons" style="font-size: 30px;">announcement</i>
                                                </span>
                                                <div class="form-group">
                                                    @Html.TextAreaFor(m => m.Menssagem, 5, 1, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Menssagem, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <hr class="linhaBotao" />

                            <div class="footer text-center">

                                <button class="btn btn-custom-default" onclick="location.href = '@Url.Action("Index", "Home")';return false;">Voltar para Home</button>

                                <button class="btn btn-success">

                                    Abrir chamado

                                </button>
                            </div>

                        }

                    </div>

                </div>

            </div>

        </div>

    </section>
</main>