﻿@using Responsavel.WebMVC.App_Helpers
@{
    ViewBag.Title = "Aviso!";
    Layout = "~/Views/Shared/_LayoutErrorPadrao.cshtml";
}



<section class="content">

    <div class="container-fluid">

        <section>

            <div div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

                <div class="card wizard-card card-hidden ">

                    <div class="card-header-noborder" data-background-color="alert-error">
                        <h3 class="title linte">@ViewBag.Regra</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-2"></div>
                                    <div class="col-md-8">

                                        <div class="linte-div">
                                            <label class="linte-label">@ViewBag.MensagemMotivo</label><br />
                                            <p class="">@ViewBag.MensagemErro</p>
                                        </div>

                                    </div>
                                    <hr />
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-2"></div>
                                    <div class="col-md-8">

                                        <div class="linte-div">
                                            <label class="linte-label">@ViewBag.MensagemMotivo</label><br />
                                            <p class="">@ViewBag.MensagemErro</p>

                                        </div>

                                    </div>
                                    <hr />
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-2"></div>
                                    <div class="col-md-8">

                                        <div class="linte-div">
                                            <label class="linte-label">Descrição do Erro</label><br />
                                            <p class="">@TempData["ErrorMessage"]</p>
                                        </div>

                                    </div>
                                    <hr />
                                </div>

                            </div>
                        </div>

                        <footer class="linte-footer">

                            <hr />

                            <h4 class="">Entre em contato com o suporte para solucionar o problema ou clique no botão de ajuda abaixo para enviar um ticket.</h4>
                            <hr />

                            <div class="text-center">

                                <button class="btn btn-custom-default" onclick="location.href = '@Url.Action("Index", "Home")';return false;">Voltar para Home</button>
                                @Html.ExibirBotaoMensagemErro($"{(object) ViewBag.Botao}")

                            </div>

                        </footer>

    
                    </div>
                </div>
            </div>

        </section>

    </div>

</section>


@section scripts {

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.wizard-card').removeClass('card-hidden');
            }, 200);
        });
    </script>

}

