﻿@{
    ViewBag.Title = "Área do Responsável - Suporte";
    Layout = "~/Views/Shared/_LayoutErrorPadrao.cshtml";
}


<section class="content">

    <div class="container-fluid">

        <section>

            <div div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

                <div class="card wizard-card card-hidden ">

                    <div class="card-header-noborder" data-background-color="blue">
                        <h3 class="title linte">Precisa obter suporte?</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-2"></div>
                                    <div class="col-md-8">

                                        <div>
                                            <label class="linte-label">Nosso email</label><br />
                                            <a href="mailto:suporte@lintelligence.com.br?body=Por favor, preciso de suporte no Área do Responsável para...">suporte@lintelligence.com.br</a>
                                        </div>
                                        
                                        <hr />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-2"></div>
                                    <div class="col-md-8">

                                        <div>
                                                <label class="linte-label">Ajuda</label><br />
                                            <p class="">Você pode obter ajuda instantânea clicando no botão "Ajuda" no rodapé abaixo, informe seus dados e escreva suas dúvidas e solicitações, nossa equipe de suporte irá atende-lo rapidamente</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        <footer class="linte-footer">
                            
                            <hr/>
                            <div class="text-center">

                                <button class="btn btn-custom-default" onclick="location.href = '@Url.Action("Index", "Home")';return false;">Voltar para Home</button>

                            </div>

                        </footer>

                    </div>
                </div>
            </div>

        </section>

    </div>

</section>


@section scripts {

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.wizard-card').removeClass('card-hidden');
            }, 200);
        });
    </script>

}

