﻿@{
    ViewBag.Title = "Página não encontrada";
    Layout = "~/Views/Shared/_LayoutErrorPadrao.cshtml";
}


<section class="content">

    <div class="container-fluid">

        <section>

            <div div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

                <div class="card wizard-card card-hidden ">

                    <div class="card-header-noborder" data-background-color="alert-danger">
                        <h3 class="title linte">Ops!, página não encontrada</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-2"></div>
                                    <div class="col-md-8">

                                        <div>
                                            <label class="linte-label">Página não encontrada - 404</label><br />
                                            <b class="text-center" style="font-size: 1.2em;">A página que você está solicitando não existe!</b>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <footer class="linte-footer">

                            <hr />
                            <div class="text-center">

                                <button class="btn btn-custom-default" onclick="location.href = '@Url.Action("Index", "Home")';return false;">Voltar para Home</button>

                            </div>

                        </footer>

                    </div>
                </div>
            </div>

        </section>

    </div>

</section>


@section scripts {

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.wizard-card').removeClass('card-hidden');
            }, 200);
        });
    </script>

}

