﻿@using Responsavel.WebMVC.App_Helpers
@{
    ViewBag.Title = "Suporte";
    Layout = "~/Views/Shared/_LayoutErrorPadrao.cshtml";
}

<main class="full-page login-page" filter-color="black" style="background-image:url(@Url.RootContentArea("imagens/fundo-home4-2.jpg")); background-size:cover;">

<section class="content custom-background-image">

    <div class="container">
        <div class="row">


            <div class="col-md-10 col-md-offset-1">
                <div class="card card-signup">
                    <div class="registros-alertas">
                        <div class="alert alert-success">
                            <h2 class="card-title text-center" style="color: #fff;">Ticket enviado para suporte</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons" style="font-size: 30px;">announcement</i>
                                        </span>
                                        <div class="form-group">
                                            <label style="font-size: 1.3em;">Ticket número</label><br />
                                            <b class="text-center" style="font-size: 1.2em;">@TempData["TicketNumber"]</b>
                                        </div>

                                    </div>

                                    <hr />
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons" style="font-size: 30px;">done_all</i>
                                        </span>
                                        <div class="form-group">
                                            <label style="font-size: 1.3em;">Solicitação de suporte</label><br />
                                            <p class="">Seu ticket foi transmitido com sucesso, nossa equipe de suporte irá analisar o problema e entrará em contato com você o mais breve possível!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr />
                                    <footer class="footer text-center">

                                        <button class="btn btn-custom-default" onclick="location.href = '@Url.Action("Index", "Home")';return false;">Voltar para Home</button>

                                    </footer>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


</section>
</main>