﻿@{
    ViewBag.Title = "Acesso não autorizado";
    Layout = "~/Views/Shared/_LayoutErrorPadrao.cshtml";
}


<section class="content">

    <div class="container-fluid">

        <section>

            <div div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

                <div class="card wizard-card card-hidden ">

                    <div class="card-header-noborder" data-background-color="alert-error">
                        <h3 class="title linte">Acesso negado!</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-2"></div>
                                    <div class="col-md-8">

                                        <div class="linte-div">
                                            <label class="linte-label">Acesso proibido</label><br />
                                            <p class="">Acesso proibido à essa funcionalidade!</p>
                                            <p class="">Solicite ao suporte o cadastro do seu login para essa rotina!</p>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <footer class="linte-footer">

                            <hr />

                            <div class="text-center">

                                <button class="btn btn-custom-default" onclick="location.href = '@Url.Action("Index", "Home")';return false;">Voltar para Home</button>

                            </div>

                        </footer>


                    </div>
                </div>
            </div>

        </section>

    </div>

</section>


@section scripts {

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.wizard-card').removeClass('card-hidden');
            }, 200);
        });
    </script>

}

