﻿@model Linte.Identity.Infra.CrossCutting.Identity.Model.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar Senha";
}

<section class="content register-page">

    <div class="container-fluid">

        <div class="row">

            <div div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

                <div class="card card-signup">

                    <div class="card-body">
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {

                            <div class="row">

                                <div class="col-md-5 col-md-offset-1">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-success">
                                            <i class="material-icons">fingerprint</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Senhas Particulares</h4>
                                            <p class="description">
                                                Não compartilhe sua senha com ninguém..
                                            </p>

                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">help</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Guarde com Cautela</h4>
                                            <p class="description">
                                                Anote sua senha em algum lugar que só você consiga ter acesso,
                                                boas senhas tendem a ser complicadas de decorar ou se lembrar com facilidade.
                                            </p>

                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-7">

                                    @Html.AntiForgeryToken()

                                    <h4>Formulário para alteração de senha</h4>

                                    <div class="form-group">
                                        <label class="label-control">
                                            @Html.DisplayNameFor(m => m.OldPassword)
                                        </label>

                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => Model.OldPassword, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">

                                        <label class="label-control">
                                            @Html.DisplayNameFor(m => m.NewPassword)
                                        </label>

                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => Model.NewPassword, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">

                                        <label class="label-control">
                                            @Html.DisplayNameFor(m => m.ConfirmPassword)
                                        </label>

                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => Model.ConfirmPassword, "", new { @class = "text-danger" })

                                    </div>

                                </div>

                            </div>

                            <hr class="linhaBotao" />

                            <div class="text-right">

                                <a class="btn btn-default cancel" href="@Url.Action("Cancelar", "Manage")">
                                    Voltar
                                </a>

                                <button type="submit" class="btn btn-success">
                                    Confirmar Alteração de Senha
                                </button>

                            </div>

                        }

                    </div>

                </div>

            </div>
        </div>
    </div>

</section>
