﻿@model Linte.Identity.Infra.CrossCutting.Identity.Model.IndexViewModel

@{
    ViewBag.Title = "Manutenção";
}

<section class="content">

    <div class="container-fluid">

        <section>

            <div div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto">

                <div class="card card-hidden ">

                    <div class="card-header-noborder" data-background-color="blue">
                        <h4 class="title linte">Manutenção da conta</h4>
                    </div>

                    <div class="card-body">

                        <div class="row border-between">

                            <div class="col-md-5">

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="info linte informacoes-formulario">

                                            <h4 class="card-title info-titulo tabela-desktop">Informações do Formulário</h4>

                                            <h5 class="text-justify">Utilize esse formulário para configurar suas preferências de conta, login e telefone.</h5>

                                            <h5 class="text-justify">Crie ou altere sua senha a qualquer momento no painel de <b>Manutenção da senha</b></h5>

                                            <h5 class="text-justify">Habilite <b>conectar automaticamente</b> caso esteja na sua máquina e no seu navegador padrão.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="info linte alinhamento-icones-horizontal">

                                    <div class="icon">
                                        <i class="material-icons">lock_outline</i>
                                    </div>
                                    <div class="description">

                                        <h4 class="info-title">Manutenção de Senha</h4>

                                        @if (Model.HasPassword)
                                        {
                                            @Html.ActionLink("Alterar a Senha", "ChangePassword", null, null, new {@class = "btn btn-custom-salvar"})
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Criar uma Nova Senha", "SetPassword", null, null, new {@class = "btn btn-custom-salvar"})
                                        }
                                    </div>


                                </div>

                                <hr/>

                                <div class="info alinhamento-icones-horizontal">

                                    <div class="icon">
                                        <i class="material-icons">open_in_browser</i>
                                    </div>

                                    <div class="description">
                                        <h4 class="info-title">Conectar automaticamente : @(Model.BrowserRemembered ? "Habilitado" : "Desabilitado")</h4>

                                        @if (Model.BrowserRemembered)
                                        {
                                            <form method="post" action="/Manage/ForgetBrowser">
                                                <p>
                                                    <input type="submit" value="Esquecer Browser" class="btn btn-custom-salvar"/>
                                                </p>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" action="/Manage/RememberBrowser">
                                                <p>
                                                    <input type="submit" value="Lembrar Browser" class="btn btn-custom-salvar"/>
                                                </p>
                                            </form>
                                        }
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>

</section>


@section scripts {

    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.wizard-card').removeClass('card-hidden');
            }, 200);
        });
    </script>

}