﻿
@model Linte.Identity.Infra.CrossCutting.Identity.Model.SetPasswordViewModel

@{
    ViewBag.Title = "Cadastro de senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content register-page">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <div class="card card-signup">

                    <div class="card-content">

                    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new {id = "Form-SetPassword"}))
                    {

                        <div class="row">

                            <div class="col-md-6 col-md-offset-1">
                                <div class="info info-horizontal">
                                    <div class="icon icon-success">
                                        <i class="material-icons">fingerprint</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Senhas Particulares</h4>
                                        <p class="description">
                                            Sua senha é de uso pessoal, não compartilhe com outros usuários, jamais utilize as mesmas senhas em sites, aplicativos e softwares.
                                        </p>

                                    </div>
                                </div>
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="material-icons">help</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Como criar uma senha segura</h4>
                                        <p class="description">
                                            Crie sua senha utilizando caracteres especiais, letras maiúsculas e números, você podem instalar um software no seu smartphone para ajudar a gerenciar suas senhas.
                                        </p>

                                    </div>
                                </div>

                            </div>


                                <div class="col-md-4">

                                    @Html.AntiForgeryToken()

                                    <h4>Formulário para alteração de senha</h4>

                                    <div class="form-group label-floating is-empty">

                                        @Html.LabelFor(m => m.NewPassword, new {@class = "label-control"})
                                        @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(m => Model.NewPassword, "", new {@class = "text-danger"})

                                    </div>

                                    <div class="form-group label-floating is-empty">

                                        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "label-control"})
                                        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(m => Model.ConfirmPassword, "", new {@class = "text-danger"})

                                    </div>


                                </div>

                        </div>

                        <footer class="text-right">

                            <button class="btn btn-custom-default cancel" onclick="document.getElementById('Form-SetPassword').action = '@Url.Action("Cancelar", "Manage")';">
                                Voltar
                            </button>

                            <button class="btn btn-custom-salvar">
                                Salvar nova senha
                            </button>

                        </footer>

                    }
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}