﻿@model Responsavel.WebMVC.Models.RelatorioQuantitativoCorrecaoAvaliacao.RelatorioQuantitativoCorrecaoAvaliacaoModelList

@{
    var listaAnoLetivo = Model.Estudantes.Select(x => x.AnoLetivo).Distinct();
}


@foreach(var anoletivo in listaAnoLetivo)
{
    <div class="row">
            
        <div class="col-md-10 col-md-offset-1">
                
            <h4 class="title" style="cursor: pointer; margin-left: 15px;" data-toggle="collapse" href="#collapse_@anoletivo" role="button" aria-expanded="false" aria-controls="collapse_@anoletivo">
                @anoletivo
            </h4>
            
            <hr />

            <div id="collapse_@anoletivo" class="collapse">

                <div class="row">

                    @foreach (var estudante in Model.Estudantes.Where(x => x.AnoLetivo == anoletivo))
                    {
                        <div class="col-md-4">

                            <div class="card card-estudante">

                                <div class="card-header">

                                    <a class="imagem" style="background: url('@estudante.CaminhoImagem') no-repeat; background-size: cover; background-position: center; "></a>

                                </div>

                                <div class="card-content">

                                    @estudante.DescricaoAno

                                    <br />

                                    @estudante.Nome



                                </div>

                                <div class="card-footer">

                                    <button type="button" class="btn btn-primary btn-block" onclick="ObterRelatorio(@estudante.TurmaEstudanteId)">
                                        Exibir Relatório
                                    </button>


                                </div>


                            </div>

                        </div>
                    }

                </div>

            </div>



        </div>
            

    </div>

}


