﻿@model Responsavel.WebMVC.Models.RelatorioQuantitativoCorrecaoAvaliacao.RelatorioQuantitativoCorrecaoAvaliacaoModelList

@using (Html.BeginForm("LimparPesquisa", "RelatorioQuantitativoCorrecaoAvaliacao", FormMethod.Post, new { id = "Lista-Escola-Usuario" }))
{

    <div class="card">

        <div class="card-content">
            <h3 class="card-title">Correção da Avaliação</h3>

            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.Page)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOrder)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortDirection)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOld)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.UrlRetorno)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.PaginacaoEOrdenacaoUrlRetorno)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.PesquisaUrlRetorno)


            @{
        var listaArea = Model.Registros.Select(x => new { x.AreaId, x.DescricaoArea }).Distinct().OrderBy(z => z.DescricaoArea).ToList();
            }
            <div class="table-responsive">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 25%">
                                Avaliação
                            </th>
                            @{
                        foreach (var area in listaArea)
                        {
                            <th>
                                @area.DescricaoArea
                            </th>
                }
                            }
                            <th>
                                Questões
                            </th>
                            <th>
                                Acertos
                            </th>
                            <th>
                                % Aproveitamento
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Registros.Select(x => new { x.Matricula, x.Nome, x.DescricaoAvaliacao }).Distinct().OrderBy(z => z.Matricula))
                {
                    <tr>
                        <td>@item.DescricaoAvaliacao</td>
                        @{
                    foreach (var area in listaArea)
                    {
                        <td style="text-align: center">
                            @Model.Registros.Where(x => x.Matricula == item.Matricula && x.AreaId == area.AreaId).Sum(x => x.TotalAcerto)
                        </td>
            }
            <td style="text-align: center">
                @Model.Registros.Where(x => x.Matricula == item.Matricula).Sum(x => x.TotalQuestao)
            </td>
            <td style="text-align: center">
                @Model.Registros.Where(x => x.Matricula == item.Matricula).Sum(x => x.TotalAcerto)
            </td>
            <td style="text-align: center">
                @Math.Round((Model.Registros.Where(x => x.Matricula == item.Matricula).Sum(x => x.TotalAcerto) / Model.Registros.Where(x => x.Matricula == item.Matricula).Sum(x => x.TotalQuestao)) * 100, 2)
            </td>
                        }
                        <td class="td-actions" style="text-align: right">
                        </td>
                    </tr>
        }
                    </tbody>
                </table>
            </div>

            @{Html.RenderPartial("../Shared/_dicasDeUsoTabela");}
        </div>

    </div>

}



@section scripts {

    @Scripts.Render("~/bundles/dataTable")

}

<script type="text/javascript">

    $(document).ready(function () {

        var totalColunas = $("datatables").find("tr:first td").length-1;
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [25, 50, 100, 150, 200, 250, -1],
                [25, 50, 100, 150, 200, 250, "Todos"]
            ],
            responsive: true,
            language: {
                "url": '/Content/jquery.datatables.language.jSon',
                search: "_INPUT_",
                searchPlaceholder: " contendo...",
            },
        buttons: [],
            "columnDefs": [
                {
                    "targets": [totalColunas],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }
            ]
        });

        setTimeout(function () {
            $('.material-datatables').show();
            $('#aguardeCarregar').hide();
        }, 1000);


        var table = $('#datatables').DataTable();

        // Edit record
        table.on('click', '.edit', function () {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        $('.card .material-datatables label').addClass('form-group');

    });
</script>


