﻿@model Responsavel.WebMVC.Models.Shared.BarraDashboardViewModel

<div class="row">
    
    @foreach (var item in Model.Item)
    {
        <div class="col-md-3 col-xs-6">
            <div class="card">

                <div class="card-header card-separado" onclick="CarregarEscolasProtocoladas()" data-background-color="@item.CssCorBarra">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="material-icons">@item.Icone</i>
                        </div>
                        <div class="col-md-10" style="text-align: right">
                            <p class="category">@item.Descricao</p>
                            <h3 class="card-title">@($"{item.Valor:##,###}")</h3>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">@item.Icone</i>
                        @item.Mensagem
                    </div>
                </div>
            </div>
        </div>
    }
</div>
