﻿<hr />
            
<div>
    <p class="category dicas dicas-de-uso"><span class="text-warning">*</span>Dicas de uso:</p>
    <p class="category dicas dicas-de-uso">Para organizar por ordem alfabética ou numérica clique nos títulos das colunas.</p>
    <p class="category dicas dicas-de-uso">Utilize o campo "Pesquisar na tabela" para filtrar informações e facilitar sua leitura dos dados.</p>
</div>
