﻿
<hr />
<p class="category dicas dicas-de-uso"><span class="text-warning">*</span>Dicas de uso:</p>
<p class="category dicas dicas-de-uso">Passe o cursor em cima do gráfico e veja a porcentagem de erros e acertos</p>
<p class="category dicas dicas-de-uso">Clique na legenda de um item para ocultar o resultado, clique novamente para reexibir</p>

