﻿@using Responsavel.WebMVC.App_Helpers
<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    @Html.ActionLink($"{ViewBag.Title}", "Index", "Home")
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            Versão : @Html.AssemblyVersion()
        </p>
        <p class="copyright pull-right">
            &copy; 2016-
            <script>
                document.write(new Date().getFullYear())
            </script>
            <a href="http://lintelligence.com.br">L'Intelligence</a> /* life runs on code! */
        </p>
    </div>
</footer>
