﻿<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>@ViewBag.Title - Responsável Inscrição</title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
</head>

<body id="form-principal" class="sidebar-mini">

<div class="wrapper ">

    @{
        Html.RenderPartial("_MenuLateral");
    }

    <main class="main-panel">

        @{
            Html.RenderPartial("_MenuSuperior");
            Html.RenderPartial("_MensagensNotificacoes");
        }
        @RenderBody()
        @{Html.RenderPartial("_footer");}
    </main>
</div>

    
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/linte-scripts")
@Scripts.Render("~/bundles/material-design")

@RenderSection("scripts", required: false)

</body>

</html>

