﻿<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>@ViewBag.Title - A+ Área do Responsável</title>

    <!--     Fontes e icones     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

</head>

<body class="off-canvas-sidebar">

    @{
        Html.RenderPartial("_MenuSuperiorLogin");
        Html.RenderPartial("_MensagensNotificacoes");

    }

    <div class="wrapper wrapper-full-page">

            @RenderBody()

        </div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/linte-scripts")
    @Scripts.Render("~/bundles/material-design")

    @RenderSection("scripts", required: false)
</body>
</html>
