﻿<div id="modalElements">

</div>

<div class="sidebar" data-color="black" data-background-color="black">

    <div class="logo">
        @Html.ActionLink("AR", "Index", "Home", new { area = "" }, new { @class = "simple-text logo-mini" })
        @Html.ActionLink("Área do Responsável", "Index", "Home", new { area = "" }, new { @class = "simple-text logo-normal" })

    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                @if (!string.IsNullOrEmpty(TempData["imageName"]?.ToString()))
                {
                    <img src=@TempData["imageName"] />
                }
                else
                {
                    <img src="~/Content/imagens/NO-IMAGE.png" />
                }
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapsePerfil" class="username">
                    @if (TempData["userName"] != null && TempData["userName"].ToString().Length > 1)
                    {
                        <span>
                            @TempData["userName"]
                            <b class="caret"></b>
                        </span>
                    }
                    else
                    {
                        <span>
                            Preencha o seu Perfil
                            <b class="caret"></b>
                        </span>
                    }
                </a>

                <div class="clearfix"></div>

                <div class="collapse" id="collapsePerfil">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "MeuPerfil")">
                                <span class="sidebar-mini">MP</span>
                                <span class="sidebar-normal">Meu Perfil</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Manage")">
                                <span class="sidebar-mini">GC</span>
                                <span class="sidebar-normal">Gerenciar Conta</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <ul id="navBarLateral"></ul>

    </div>
</div>


@if (User.IsInRole("01-LINTE-ADMINISTRACAO"))
{
    Html.RenderPartial("~/views/home/_menuAdministradorLateral.cshtml");
}
else
{
    Html.RenderPartial("~/views/home/_menuEstudanteLateral.cshtml");
}