﻿<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white" id="navigation-example">
    <div class="container">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="#linte">A+ Área do Responsável - @ViewBag.Title</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Register", "Account")">
                        <i class="material-icons">person_add</i>Cadastre-se
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Login", "Account")">
                        <i class="material-icons">fingerprint</i> Login
                    </a>
                </li>
                <li class="nav-item  active ">
                    <a class="nav-link" href="@Url.Action("ForgotPassword", "Account")">
                        <i class="material-icons">lock_open</i> Esqueci Minha Senha
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
