﻿
<section class="registros-alertas">

    @if (ViewData.ModelState.IsValid && !string.IsNullOrEmpty(ViewBag.StatusMessage))
    {
        <input type="hidden" data-value="@ViewBag.StatusMessage" id="mensagemSucesso" />

        <script type="text/javascript" language="JavaScript">

            $(document).ready(function () {

                var mensagem = $("#mensagemSucesso").data("value");
                //var mensagem = document.getElementById('mensagemSucesso');
                //mensagemAlerta('sucesso-na-validacao', mensagem.value);
                //type = ['', 'info', 'success', 'warning', 'danger', 'rose', 'primary'];

                $.notify({
                    icon: "notifications",
                    message: "<b> Responsavel </b> - " + mensagem

                }, {
                    type: 'success',
                    timer: 3000,
                    placement: {
                        from: 'top',
                        align: 'center'
                    }
                });

            });
        </script>

    }

    @if (!ViewData.ModelState.IsValid)
    {

        if (string.IsNullOrEmpty(ViewBag.ErrosDominio))
        {
            ViewBag.ErrosDominio = "";
            foreach (var listError in ViewData.ModelState)
            {
                foreach (var error in listError.Value.Errors)
                {
                    ViewBag.ErrosDominio += error.ErrorMessage;
                }
                
             }

        }
        <input type="hidden" value="@ViewBag.ErrosDominio" id="errorDomain" />

        <script type="text/javascript" language="JavaScript">

            var erro = document.getElementById('errorDomain');

            $(document).ready(function () {
                mensagemAlerta('erro-na-validacao', erro.value);
            });


        </script>

    }

</section>

