﻿<header>

    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top" id="navigation-example">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <span class="navbar-brand"> @ViewBag.Title </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "Home", new {area =""}) title="Home">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "AmbienteMinhasAtividades", new {area =""}) title="Minhas Atividades">
                            <i class="material-icons">event_note</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "AmbienteAvaliacaoSimulado", new {area =""}) title="Avaliação e Simulados">
                            <i class="material-icons">dashboard</i>
                        </a>
                    </li>
                    @if (User.IsInRole("01-LINTE-ADMINISTRACAO"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "AmbienteRedacao", new {area =""}) title="Redação">
                                <i class="material-icons">description</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "AmbienteNotasDisciplinares", new {area =""}) title="Notas Disciplinares">
                                <i class="material-icons">spellcheck</i>
                            </a>
                        </li>

                    }
                    <li class="hr-botao"></li>


                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#linte" id="navbarLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">person</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarLogin">
                            <a href=@Url.Action("Index", "MeuPerfil") class="dropdown-item">Alterar meus dados de perfil</a>
                            <a href=@Url.Action("ChangePassword", "Manage") class="dropdown-item">Alterar minha senha</a>
                            <hr/>
                            <a href=@Url.Action("LogOff", "Account") class="dropdown-item">Sair do ambiente - @HttpContext.Current.User.Identity.Name</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@*<script type="text/javascript">

    $(document).ready(function () {

        $("#btnIrPara").click(function(e){
            var url = document.getElementById(document.getElementById("getIrPara").value.toUpperCase()).href;
            e.preventDefault();
            window.location = url;
        });


        $("#minimizeSidebar").click(function (e) {

            if ($.cookie("sidebar-mini") === '1')
                $.cookie("sidebar-mini", "0", { expires: 30 });
            else
                $.cookie("sidebar-mini", "1", { expires: 30 });
        });


    });


</script>*@