﻿@model AMais.Responsavel.DTO.Pesquisa.AvaliacaoRelatorioPesquisaDTO

<div class="row">
    <div class="col-md-4 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.EscolaId)
        </label>
        @Html.DropDownListFor(m => m.EscolaId, new SelectList(Model.Escola?? new Dictionary<string, string>(), "Key", "Value"), new {id = "campo-filtro-escolaId", @class = "selectpicker form-control", @data_style = "select-with-transition", @multiple = "multiple", @data_size = "7", @title = ""})
    </div>
    <div class="col-md-6 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.TurmaId)
        </label>
        @Html.DropDownListFor(m => m.TurmaId, new SelectList(Model.Turma ?? new Dictionary<string, string>(), "Key", "Value"), new {id = "campo-filtro-turmaId", @class = "selectpicker form-control", @data_style = "select-with-transition", @multiple = "multiple", @data_size = "7", @title = "" })
    </div>
    <div class="col-md-2 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.Matricula)
        </label>
        @Html.TextBoxFor(m => m.Matricula, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Matricula, "", new { @class = "text-danger" })
    </div>

</div>

<div class="row">
    <div class="col-md-3 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.AvaliacaoId)
        </label>
        @Html.ListBoxFor(m => m.AvaliacaoId, new SelectList(Model.Avaliacao ?? new Dictionary<string, string>(), "Key", "Value"), new { id = "campo-filtro-avaliacaoId", @class = "selectpicker form-control", @data_style = "select-with-transition", @multiple = "multiple", @data_size = "7", @title = "" })
    </div>
    <div class="col-md-3 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.AvaliacaoItemId)
        </label>
        @Html.ListBoxFor(m => m.AvaliacaoItemId, new SelectList(Model.AvaliacaoItem ?? new Dictionary<string, string>(), "Key", "Value"), new { id = "campo-filtro-avaliacaoItemId", @class = "selectpicker form-control", @data_style = "select-with-transition", @multiple = "multiple", @data_size = "7", @title = "" })

    </div>
    <div class="col-md-3 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.TipoAvaliacaoId)
        </label>
        @Html.ListBoxFor(m => m.TipoAvaliacaoId, new SelectList(Model.TipoAvaliacao ?? new Dictionary<string, string>(), "Key", "Value"), new { id = "campo-filtro-tipoAvaliacaoId", @class = "selectpicker form-control", @data_style = "select-with-transition", @multiple = "multiple", @data_size = "7", @title = "" })

    </div>
    <div class="col-md-3 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.TipoProvaId)
        </label>
        @Html.ListBoxFor(m => m.TipoProvaId, new SelectList(Model.TipoProva ?? new Dictionary<string, string>(), "Key", "Value"), new { id = "campo-filtro-tipoProvaId", @class = "selectpicker form-control", @data_style = "select-with-transition", @multiple = "multiple", @data_size = "7", @title = "" })
    </div>

</div>

<div class="row">
    <div class="col-md-3 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.AreaId)
        </label>
        @Html.ListBoxFor(m => m.AreaId, new SelectList(Model.Area ?? new Dictionary<string, string>(), "Key", "Value"), new { id = "campo-filtro-areaId", @class = "selectpicker form-control", @data_style = "select-with-transition", @multiple = "multiple", @data_size = "7", @title = "" })

    </div>
    <div class="col-md-3 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.DisciplinaId)
        </label>
        @Html.ListBoxFor(m => m.DisciplinaId, new SelectList(Model.Disciplina ?? new Dictionary<string, string>(), "Key", "Value"), new { id = "campo-filtro-disciplinaId", @class = "selectpicker form-control", @data_style = "select-with-transition", @multiple = "multiple", @data_size = "7", @title = "" })
    </div>
    <div class="col-md-3 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.SegmentoId)
        </label>
        @Html.ListBoxFor(m => m.SegmentoId, new SelectList(Model.Segmento ?? new Dictionary<string, string>(), "Key", "Value"), new { id = "campo-filtro-segmentoId", @class = "selectpicker form-control", @data_style = "select-with-transition", @multiple = "multiple", @data_size = "7", @title = "" })
    </div>
    <div class="col-md-3 form-group">
        <label class="label-control">
            @Html.DisplayNameFor(m => m.AnoId)
        </label>
        @Html.ListBoxFor(m => m.AnoId, new SelectList(Model.Ano ?? new Dictionary<string, string>(), "Key", "Value"), new { id = "campo-filtro-anoId", @class = "selectpicker form-control", @data_style = "select-with-transition", @multiple = "multiple", @data_size = "7", @title = "" })
    </div>

</div>
