﻿@model Responsavel.WebMVC.Models.Token.TokenModelEdit

@using (Html.BeginForm("Cancelar", "Token", FormMethod.Post, new { id = "Form-Editar" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.Page)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOrder)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortDirection)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOld)

    @Html.HiddenFor(m => Model.Pesquisa.Descricao)

    <div class="card">

        <div class="card-header-noborder" data-background-color="blue">
            <h4 class="title">Registro : @Model.Registro.TokenAcesso - @Model.Registro.DescricaoTurma</h4>
            <p class="category">
                Formulário somente para informação.
            </p>
        </div>

        <div class="card-body">

            <div class="row" id="dados-cadastro">

                <div class="categoria-formulario-holder">

                    <div class="panel categoria-header" id="dados-header">
                        <h4>
                            Dados cadastrais
                        </h4>
                    </div>

                    <div class="row border-between">

                        <div class="col-md-6">


                            <div class="header-info-form-mobile text-right tabela-mobile">

                                <h4 class="card-title info-titulo text-left" data-toggle="collapse" href="#informacoes-formulario">
                                    Informações do Formulário
                                    <i class="material-icons pull-right">import_export</i>
                                </h4>

                                <hr />

                            </div>

                            <div class="row">

                                <div class="col-md-10 col-md-offset-1">

                                    <div class="informacoes-formulario">

                                        <h4 class="card-title info-titulo tabela-desktop">Informações do Formulário</h4>

                                        <h5 class="text-justify">Verifique nesse formulário os dados do seu token para acesso ao conteúdo da turma no ambiente do A+.</h5>

                                        <h5 class="text-justify">Caso alguma informação esteja incorreta, entre em contato solicitando a correção.</h5>

                                        <div class="info-destaque-importante">
                                            <h5>Todas as Informações são sigilosas e apenas você terá acesso a elas.</h5>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">

                                        <label class="label-control">
                                            @Html.DisplayNameFor(m => m.Registro.NomeEstudante)
                                        </label>
                                        @Html.TextBoxFor(m => m.Registro.NomeEstudante, new { @class = "form-control", @readonly = "readonly" })

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">

                                        <label class="label-control">
                                            @Html.DisplayNameFor(m => m.Registro.NomeEscola)
                                        </label>
                                        @Html.TextBoxFor(m => m.Registro.NomeEscola, new { @class = "form-control", @readonly = "readonly" })

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">

                                    <div class="form-group">

                                        <label class="label-control">
                                            @Html.DisplayNameFor(m => m.Registro.DescricaoTurma)
                                        </label>
                                        @Html.TextBoxFor(m => m.Registro.DescricaoTurma, new { @class = "form-control", @readonly = "readonly" })

                                    </div>

                                </div>

                                <div class="col-md-4">

                                    <div class="form-group">

                                        <label class="label-control">
                                            @Html.DisplayNameFor(m => m.Registro.DescricaoAno)
                                        </label>
                                        @Html.TextBoxFor(m => m.Registro.DescricaoAno, new { @class = "form-control", @readonly = "readonly" })

                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>

                </div>

            </div>

            <hr class="linhaBotao" />

            <div class="text-right">

                <button class="btn btn-custom-default cancel" onclick="document.getElementById('Form-Editar').action = '@Url.Action("Cancelar", "Token")';">
                    Voltar
                </button>

                </div>

        </div>
    </div>

}