﻿@using Responsavel.WebMVC.App_Helpers
@model Responsavel.WebMVC.Models.Token.TokenModelList

<div class="card" id="lista">

    <div class="card-header card-header-icon" data-background-color="blue">
        <i class="material-icons">view_list</i>
    </div>

<div class="card-content">

    <h3 class="card-title-icon">Tokens de acesso ao ambiente A+</h3>

    <div class="material-datatables">

        @using (Html.BeginForm("Cancelar", "Token", FormMethod.Post, new { id = "Form-Lista" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.Page)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOrder)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortDirection)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOld)

            @Html.HiddenFor(m => Model.Pesquisa.Descricao)

            if (Model.Lista.Any())
            {
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Estudante
                                </th>
                                <th>
                                    Escola
                                </th>
                                <th>
                                    Turma
                                </th>
                                <th>
                                    Ano
                                </th>
                                <th>
                                    Matrícula A+
                                </th>
                                <th>
                                    Token
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lista)
                            {
                                <tr>
                                    <td>@item.NomeEstudante</td>
                                    <td>@item.NomeEscola</td>
                                    <td>@item.DescricaoTurma</td>
                                    <td>@item.DescricaoAno</td>
                                    <td>@item.Matricula</td>
                                    <td>@item.Descricao</td>
                                    <td class="td-actions" style="text-align: right">
                                        <div class="dropdown">
                                            <button class="dropbtn">Opções</button>
                                            <div class="dropdown-content">
                                                <button class="btn btn-primary cancel" title="Editar registro" data-toggle="tooltip" data-placement="bottom" onclick="document.getElementById('Form-Lista').action = '@Url.Action("Editar", "Token", new {id = @item.TokenGuid})';">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            }
            else
            {
                <div class="dados-pendentes">
                    <h4 class="text-center">Não existem Tokens para impressão.</h4>
                </div>
            }

            <hr />
            <div class="pull-left">

                @Html.CreatePageList(Model.PaginacaoEOrdenacao.TotalRegistros, Model.PaginacaoEOrdenacao.Page ?? 1, page => Url.Action("IrParaPagina", new { iD = page, jSONModel = Json.Encode(Model.PaginacaoEOrdenacao), jSonModelPesquisa = Json.Encode(Model.Pesquisa) }))

            </div>

            <div class="pull-right">

                <button class="btn btn-custom-adicionar pull-right cancel" onclick="document.getElementById('Form-Lista').action = '@Url.Action("InformarToken", "Token")';">
                    Informar Token
                </button>
            </div>

        }

    </div>

</div>

</div>