﻿@model Responsavel.WebMVC.Models.Token.TokenModelList

@using (Html.BeginForm("Pesquisar", "Token", FormMethod.Post, new { id = "Form-Pesquisa" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.Page)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOrder)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortDirection)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOld)

    <div class="card" id="pesquisa">

        <div class="card-header-noborder" data-background-color="blue">
            <h4 class="title">Pesquisa</h4>
            <p class="category">Campos descrição podem conter dados parciais em qualquer posição.</p>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label-control">
                            @Html.DisplayNameFor(m => m.Pesquisa.Descricao)
                        </label>
                        @Html.TextBoxFor(m => m.Pesquisa.Descricao, new { @class = "form-control" })
                    </div>
                </div>

            </div>

            <hr />

            <div class="footer pull-left">
                <button class="btn btn-custom-default cancel" onclick="document.getElementById('Form-Pesquisa').action = '@Url.Action("LimparPesquisa", "Token")';">
                    Limpar pesquisa
                </button>

                <button class="btn btn-custom-salvar">
                    Pesquisar
                </button>
            </div>

        </div>
    </div>
}

