﻿@model Responsavel.WebMVC.Models.Token.TokenModelList

@{
    ViewBag.Title = "Token";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    Html.RenderPartial("_scriptsDaPagina");
}

<section class="content">

    <div class="container-fluid">

        <div class="row">

            <div div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto">

                @{
                    Html.RenderPartial("_pesquisa");
                    Html.RenderPartial("_lista");
                }

            </div>

        </div>

    </div>

</section>

<nav id="cd-vertical-nav">
    <ul>
        <li>
            <a href="#pesquisa" data-number="1">
                <span class="cd-dot"></span>
                <span class="cd-label">Pesquisa</span>
            </a>
        </li>
        <li>
            <a href="#lista" data-number="2">
                <span class="cd-dot"></span>
                <span class="cd-label">Dados</span>
            </a>
        </li>
    </ul>
</nav>
