﻿@model Responsavel.WebMVC.Models.Token.TokenValidacaoViewModel

@{
    ViewBag.Title = "Token Recebido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_scriptsDaPagina");
}

<section class="content">

    <div class="container-fluid">

        <div class="row">

            <div div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto">

                @{
                    Html.RenderPartial("_formularioInformarToken", Model);

                }

            </div>

        </div>

    </div>

</section>
