﻿@model Responsavel.WebMVC.Models.Token.TokenValidacaoViewModel

@{
    ViewBag.Title = "Token - Validação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_scriptsDaPagina");
}

<section class="content">

    <div class="container-fluid">

        <div class="row">

            <div div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto">

                @using (Html.BeginForm("ConfirmarValidacao", "Token", FormMethod.Post, new { id = "Form-Editar" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => Model.Registro.TokenAcesso)
                    @Html.HiddenFor(m => Model.Registro.TurmaEstudanteId)

                    <div class="card">

                        <div class="card-header-noborder" data-background-color="blue">
                            <h4 class="title">Validação de token de acesso</h4>
                            <p class="category">
                                Seu token de acesso é pessoal e intransferível, após validar ele não poderá mais ser utilizado por outro estudante.
                            </p>
                        </div>

                        <div class="card-body">

                            <div class="row" id="dados-cadastro">

                                <div class="categoria-formulario-holder">

                                    <div class="panel categoria-header" id="dados-header">
                                        <h4>
                                            Dados cadastrais
                                        </h4>
                                    </div>

                                    <div class="row border-between">

                                        <div class="col-md-6">


                                            <div class="header-info-form-mobile text-right tabela-mobile">

                                                <h4 class="card-title info-titulo text-left" data-toggle="collapse" href="#informacoes-formulario">
                                                    Informações do Formulário
                                                    <i class="material-icons pull-right">import_export</i>
                                                </h4>

                                                <hr />

                                            </div>

                                            <div class="row">

                                                <div class="col-md-10 col-md-offset-1">

                                                    <div class="informacoes-formulario">

                                                        <h4 class="card-title info-titulo tabela-desktop">Informações do Formulário</h4>

                                                        <h5 class="text-justify">O token informado é de uso exclusivo para o <b>ESTUDANTE</b> localizado na base.</h5>

                                                        <h5 class="text-justify">Não utilize qualquer outro token que não seja do <b><span class="text-warning">seu uso.</span></b></h5>

                                                        <div class="info-destaque-importante">
                                                            <h5>Suas Informações são sigilosas e apenas você terá acesso a elas.</h5>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6">

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="form-group">

                                                        <label class="label-control">
                                                            @Html.DisplayNameFor(m => m.Registro.NomeEstudante)
                                                        </label>
                                                        @Html.TextBoxFor(m => m.Registro.NomeEstudante, new { @class = "form-control", @readonly = "readonly" })

                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="form-group">

                                                        <label class="label-control">
                                                            @Html.DisplayNameFor(m => m.Registro.NomeEscola)
                                                        </label>
                                                        @Html.TextBoxFor(m => m.Registro.NomeEscola, new { @class = "form-control", @readonly = "readonly" })

                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">

                                                    <div class="form-group">

                                                        <label class="label-control">
                                                            @Html.DisplayNameFor(m => m.Registro.DescricaoTurma)
                                                        </label>
                                                        @Html.TextBoxFor(m => m.Registro.DescricaoTurma, new { @class = "form-control", @readonly = "readonly" })

                                                    </div>

                                                </div>

                                                <div class="col-md-4">

                                                    <div class="form-group">

                                                        <label class="label-control">
                                                            @Html.DisplayNameFor(m => m.Registro.DescricaoAno)
                                                        </label>
                                                        @Html.TextBoxFor(m => m.Registro.DescricaoAno, new { @class = "form-control", @readonly = "readonly" })

                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                </div>

                            </div>

                            <hr class="linhaBotao" />

                            <div class="text-right">

                                <button class="btn btn-custom-default cancel" onclick="document.getElementById('Form-Editar').action = '@Url.Action("Cancelar", "Token")';">
                                    Voltar
                                </button>

                                <button class="btn btn-custom-salvar">
                                    Confirmar validação
                                </button>

                            </div>

                        </div>
                    </div>

                }
            </div>

        </div>

    </div>

</section>
