﻿@model Responsavel.WebMVC.Models.MeuPerfil.ViewModelParaMeuPerfil


@{
    ViewBag.Title = "Meu perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">

    <div class="container-fluid">

        <div div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto">

            @using (Html.BeginForm("SalvarDadosAsync", "MeuPerfil", FormMethod.Post, new { id = "Form-Perfil-Pessoal", enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.RegistroUsuario.UsuarioId)
                @Html.HiddenFor(model => model.RegistroUsuario.CaminhoImagem)

                <div class="card wizard-card card-hidden ">

                    <div class="card-header-noborder" data-background-color="blue">
                        <h4 class="title linte">Meu Perfil</h4>
                        <p class="category">Use os campos abaixo para preencher ou editar seu perfil.</p>
                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-5">

                                <div class="picture-container">

                                    <h6>Clique no circulo e escolha uma foto</h6>

                                    <div class="picture custom-width-lint">
                                        
                                        <input id="imagens" name="Files" type="file" accept="image/*" onchange="readURL(this);"/>
                                        @*<output id="lista"></output>*@

                                        @if (Model.RegistroUsuario.CaminhoImagem != null)
                                        {
                                            <img src="@Model.RegistroUsuario.CaminhoImagem" class="picture-src" id="wizardPicturePreview" alt="@Model.RegistroUsuario.Nome" />
                                        }
                                        else
                                        {
                                            <img id="wizardPicturePreview" src="#" class="picture-src" alt="@Model.RegistroUsuario.Nome" />
                                        }

                                    </div>

                                </div>

                            </div>

                            <div class="col-md-7">

                                <div class="row">

                                    <div class="col-md-10 col-md-offset-1">

                                        <div class="form-group">

                                            <label class="label-control">
                                                Nome
                                            </label>

                                            @Html.TextBoxFor(m => m.RegistroUsuario.Nome, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistroUsuario.Nome, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">

                                        <div class="form-group">

                                            <label class="label-control">
                                                Sobrenome
                                            </label>

                                            @Html.TextBoxFor(m => m.RegistroUsuario.Sobrenome, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RegistroUsuario.Sobrenome, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>

                        <hr class="linhaBotao" />

                        <div class="text-right">

                            <button class="btn btn-custom-salvar">
                                Salvar registro
                            </button>

                        </div>

                    </div>
                </div>
            }

        </div>

    </div>

</section>

@section scripts {

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.wizard-card').removeClass('card-hidden');
            }, 200);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#wizardPicturePreview')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

}