﻿@model Linte.Identity.Infra.CrossCutting.Identity.Model.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Usar minha rede social</h4>

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {

            @Html.AntiForgeryToken()

            <div id="socialLoginList">


                    @foreach (var p in loginProviders)
                    {
                        <button type="submit" class="btn btn-just-icon btn-round btn-@p.AuthenticationType.ToLower() cancel" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                            <i class="fa fa-@p.AuthenticationType.ToLower()"></i>                            
                        </button>
                    }


            </div>
        }
    
}
