﻿@using Responsavel.WebMVC.App_Helpers
@{
    ViewBag.Title = "Confirmação de e-mail";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<main class="full-page login-page" filter-color="black" style="background-image:url(@Url.RootContentArea("imagens/imagemlogin.jpg")); background-size:cover;">

        <section class="content custom-background-image">

            <div class="container">

                <div class="row">

                    <div class="col-md-10 col-md-offset-1">

                        <div class="card">

                            <div class="card-header card-header-text agenda-header-text" data-background-color="green">

                                <div class="row">

                                    <div class="col-md-8 col-md-offset-2">

                                        <div class="icone-sucesso-registro">
                                            <i class="material-icons">tag_faces</i>
                                        </div>
                                    </div>

                                </div>


                                <h4 class="card-title text-center text-uppercase">E-Mail Confirmado com Sucesso!</h4>

                            </div>

                            <div class="card-content">

                                <div class="row">


                                </div>

                                <div class="col-md-12">

                                    <h4 class="info-title text-center"> Bem vindo ao Time! Organize sua Área do Responsável e comece a potencializar resultados e lembre-se, se tiver dúvidas, sugestões ou dicas de uso, entre em contato conosco.</h4>

                                    <div class="row">

                                        <div class="col-md-8 col-md-offset-2">

                                            <h3 class="title text-center">Começando com o Pé Direito</h3>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="card card-pricing card-raised">
                                                <div class="content">
                                                    <h6 class="category">Preparando o Campo</h6>
                                                    <div class="icon icon-rose">
                                                        <i class="material-icons">accessibility</i>
                                                    </div>
                                                    <h3 class="card-title">Maximizando Resultados!</h3>
                                                    <p class="card-description">
                                                        No uso do ambiente quanto mais informações você preencher melhor conseguiremos te retornar sobre os detalhes do seus afazeres e prazos.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card card-pricing card-raised">
                                                <div class="content">
                                                    <h6 class="category">Organização Diária</h6>
                                                    <div class="icon icon-success">
                                                        <i class="material-icons">done_all</i>
                                                    </div>
                                                    <h3 class="card-title">O Dia é feito de Tarefas</h3>
                                                    <p class="card-description">
                                                        Para começar a usar a Agenda , basta você cadastrar suas tarefas, no entanto aproveite para navegar e ver como organizar as tarefas com todos os recursos disponíveis.

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <p class="description text-center">

                                        @Html.ActionLink("Começar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", returnUrl = @Url.AbsoluteAction("Index", "MeuPerfil"), @class = "btn btn-start btn-info" })

                                    </p>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </main>