﻿@using Responsavel.WebMVC.App_Helpers
@{
    ViewBag.Title = "Verificar E-mail";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@Scripts.Render("~/bundles/jquery")

@{
    Html.RenderPartial("_MensagensNotificacoes");
}


<main class="full-page login-page" filter-color="black" style="background-image:url(@Url.RootContentArea("imagens/imagemlogin.jpg")); background-size:cover;">

    <section class="content custom-background-image">

        <div class="container">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">

                    <div class="card">

                        <div class="card-header-text agenda-header-text" data-background-color="blue">

                            <h4 class="card-title text-center">Confirme seu e-mail!</h4>

                        </div>

                        <div class="card-content">

                            <div class="row">

                                <div class="col-md-8 col-md-offset-2">
                                    <h4 class="info-title text-justify">
                                        Encaminhamos um link de confirmação para a sua conta escolhida, clique no botão de confirmar no corpo do e-mail para validar seu usuário e começar a utilizar o software.
                                    </h4>
                                </div>
                            </div>

                            <hr/>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h4 class="info-title text-justify">
                                        Caso não tenha recebido, verifique sua caixa de spam ou solicite outro código.
                                    </h4>
                                    
                                    <p class="description text-center">
                                        @Html.ActionLink("Solicitar outro código", "ResendEmailConfirmationToken", "Account", new { Id = ViewBag.Id }, new { @class = "btn btn-custom-salvar" })
                                    </p>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>

</main>

