﻿@using Responsavel.WebMVC.App_Helpers
@model Linte.Identity.Infra.CrossCutting.Identity.Model.ExternalLoginConfirmationViewModel

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <main class="full-page login-page" filter-color="black" style="background-image:url(@Url.RootContentArea("imagens/imagemlogin.jpg")); background-size:cover;">
        
        <section class="content custom-background-image">
            
            <div class="content">

                <div class="container">

                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">

                            <div class="card card-signup">

                                <h2 class="card-title text-center">Autenticação : @ViewBag.LoginProvider</h2>

                                <div class="col-md-12">


                                    <h4 class="text-center">Você está conectado com sucesso através do @ViewBag.LoginProvider, informe seu e-mail abaixo para validar sua conta na área do responsável A+.</h4>

                                    <hr />
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                        </div>
                                        


                                    </div>

                                    <br/>
                                    
                                    <div class="row">
                                        <div class="col-md-12  text-center">
                                            <button type="submit" class="btn btn-default">
                                                Salvar dados
                                            </button>

                                        </div>
                                    </div>
                                    
                                    <br/>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        
        </section>
    </main>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
