﻿@using Responsavel.WebMVC.App_Helpers
@model Linte.Identity.Infra.CrossCutting.Identity.Model.ForgotPasswordViewModel

@{
    ViewBag.Title = "Recuperar senha";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}



<div class="page-header login-page header-filter" filter-color="black" style="background-image: url(@Url.RootContentArea("imagens/imagemlogin.jpg")); background-size: cover; background-position: top center;">

    <div class="container">

        <div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

            <section id="loginForm">

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="card card-login">

                        <div class="card-header text-center" data-background-color="blue">
                            <h3 class="card-title">Solicitar alteração de senha</h3>
                            <h4 style="color: white">Utilize o campo abaixo para informar seu e-mail usado no login da Área do Responsável</h4>
                        </div>
                        <div class="card-body ">

                            <div class="bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">email</i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Informe seu e-mail para solicitar alteração de senha...", @autofocus = "autofocus" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer justify-content-center">
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="card-footer justify-content-center">
                            <button type="submit" class="btn btn-custom-salvar">
                                Solicitar alteração de senha
                            </button>
                        </div>

                    </div>

                }

            </section>


        </div>
    </div>

</div>
