﻿@using Responsavel.WebMVC.App_Helpers
@model Linte.Identity.Infra.CrossCutting.Identity.Model.ForgotPasswordViewModel

@{
    ViewBag.Title = "Confirmação de lembrete de senha ";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div class="page-header login-page header-filter" filter-color="black" style="background-image: url(@Url.RootContentArea("imagens/imagemlogin.jpg")); background-size: cover; background-position: top center;">

    <div class="container">

        <div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

            <section id="loginForm">

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="card card-login">

                        <div class="card-header text-center" data-background-color="blue">
                            <h3 class="card-title">Confirmação</h3>
                        </div>
                        <div class="card-body ">

                            <div class="form-group">
                                <label style="font-size: 1.3em;">Solicitação de alteração de senha</label><br />
                                <p class="">Sua solicitação para alteração de senha foi enviada para seu e-mail, confirme se você recebeu o link!</p>
                                <p class="">Caso você já tenha efetuado a alteração basta clicar no botão abaixo para iniciar seu login!</p>
                            </div>

                        </div>

                        <div class="card-footer justify-content-center">
                            <button class="btn btn-custom-default" onclick="location.href = '@Url.Action("Login", "Account")';return false;">Login</button>
                        </div>

                    </div>

                }

            </section>


        </div>
    </div>

</div>
