﻿@model Linte.Identity.Infra.CrossCutting.Identity.Model.LoginViewModel
@using Linte.Identity.Infra.CrossCutting.Identity.Model
@using Responsavel.WebMVC.App_Helpers

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div class="page-header login-page header-filter" filter-color="black" style="background-image: url(@Url.RootContentArea("imagens/imagemlogin.jpg")); background-size: cover; background-position: top center;">

    <div class="container">

        <div class="card-content">

            <div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">
                
                <section id="loginForm">

                    <div class="card card-login">
                        <div class="card-header text-center" data-background-color="blue">
                            <h3 class="card-title">Login</h3>
                        </div>

                        <div class="card-header text-center">

                            <br />
                            <div class="social-line">
                                <section id="socialLoginForm">

                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

                                </section>

                            </div>
                        </div>

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
                        {

                            @Html.AntiForgeryToken()

                            <p class="category text-center">Ou então use a conta que você criou</p>

                            <hr />

                            <div class="col-md-12">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger info-destaque-importante" })

                            </div>
                            <div class="card-body ">
                                <div class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">email</i>
                                            </span>
                                        </div>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Informe seu e-mail...", @autofocus = "autofocus" })
                                    </div>
                                </div>
                                <div class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Informe sua senha..." })
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer justify-content-center">
                                <button type="submit" class="btn btn-custom-salvar">
                                    ENTRAR
                                </button>
                            </div>
                        }

                    </div>

                </section>

            </div>

        </div>

    </div>

</div>
