﻿@using Linte.Identity.Infra.CrossCutting.Identity.Model
@using Responsavel.WebMVC.App_Helpers
@model RegisterViewModel

@{
    ViewBag.Title = "Novo Cadastro";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="page-header login-page header-filter" filter-color="black" style="background-image: url(@Url.RootContentArea("imagens/imagemlogin.jpg")); background-size: cover; background-position: top center;">

    <div class="container">

        <div class="card-content">

            <div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

                <section id="loginForm">

                    <div class="card card-login">
                        <div class="card-header text-center" data-background-color="blue">
                            <h3 class="card-title">Comece agora a organizar seu dia a dia de estudos e melhorar suas notas</h3>
                        </div>

                        <div class="card-header text-center">

                            <br />
                            <div class="social-line">
                                <section id="socialLoginForm">

                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

                                </section>

                            </div>
                        </div>

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {

                            @Html.AntiForgeryToken()

                            <div class="card-content">

                                <p class="category text-center">Ou se preferir, crie seu usuário e senha direto no nosso ambiente:</p>

                                <hr />

                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <div class="card-body ">
                                    <div class="bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">email</i>
                                                </span>
                                            </div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "digite aqui seu email..." })
                                        </div>
                                    </div>
                                    <div class="bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                            </div>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "escolha uma senha" })
                                        </div>
                                    </div>
                                    <div class="bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">lock</i>
                                                </span>
                                            </div>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "por favor, confirme sua senha" })
                                        </div>
                                    </div>

                                </div>

                            </div>
                            @*<div class="card-footer justify-content-center">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="card-footer justify-content-center">
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>*@
                            <div class="card-footer justify-content-center">
                                <button type="submit" class="btn btn-custom-salvar">
                                    Criar usuário
                                </button>
                            </div>

                        }

                    </div>

                </section>

            </div>

        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
