﻿@using Responsavel.WebMVC.App_Helpers
@model Linte.Identity.Infra.CrossCutting.Identity.Model.ResetPasswordViewModel

@{
    ViewBag.Title = "Resetar senha";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <main class="full-page login-page" filter-color="black" style="background-image: url(@Url.RootContentArea("imagens/imagemlogin.jpg")); background-size: cover;">
        
        <section class="content custom-background-image">
            
            <div class="content">
                <div class="container">

                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">

                            <div class="card card-signup">

                                <h2 class="card-title text-center">Formulário - Resetar Senha</h2>
                                <br />

                                <div class="row">

                                    <div class="col-md-5 col-md-offset-1">

                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Code)

                                        <div class="form-group label-floating is-empty">

                                            <label class="control-label">Digite seu e-mail</label>

                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                                        </div>

                                        <div class="form-group label-floating is-empty">

                                            <label class="control-label">Digite uma nova senha..</label>

                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                                        </div>

                                        <div class="form-group label-floating is-empty">

                                            <label class="control-label">Por favor, confirme a nova senha..</label>

                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                                        </div>

                                        <footer class="footer text-center">
                                            <button type="submit" class="btn btn-default">
                                                Confirmar Reset
                                            </button>
                                        </footer>

                                    </div>


                                    <div class="col-md-6">
                                        <div class="info info-horizontal">
                                            <div class="icon icon-success">
                                                <i class="material-icons">fingerprint</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Senhas Particulares</h4>
                                                <p class="description">
                                                    Enfatizamos a não partilhar sua senha com ninguem para evitar perdas.
                                                </p>

                                            </div>
                                        </div>
                                        <div class="info info-horizontal">
                                            <div class="icon icon-primary">
                                                <i class="material-icons">help</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Guarde com Cautela</h4>
                                                <p class="description">
                                                    Aconselhamos a anotar sua senha em algum lugar que só você consiga ter acesso,
                                                    boas senhas tendem a ser complicadas de decorar ou se lembrar com facilidade.
                                                </p>

                                            </div>
                                        </div>

                                    </div>

                                </div>



                            </div>
                        </div>




                    </div>
                </div>
            </div>
        
        </section>
</main>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
