﻿
@using Responsavel.WebMVC.App_Helpers
@model Linte.Identity.Infra.CrossCutting.Identity.Model.LoginViewModel

@{
    ViewBag.Title = "Confirmação de alteração de senha";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div class="page-header login-page header-filter" filter-color="black" style="background-image: url(@Url.RootContentArea("imagens/imagemlogin.jpg")); background-size: cover; background-position: top center;">

    <div class="container">

        <div class="card-content">

            <div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">

                <section id="loginForm">

                    <div class="card card-login">
                        <div class="card-header text-center" data-background-color="blue">
                            <h3 class="card-title">Login</h3>
                        </div>
                        <div class="card-body ">
                            <div class="form-group">
                                <h4 class="">Sua senha foi alterada com sucesso, clique no botão abaixo para efetuar login com a sua nova senha!</h4>
                            </div>
                        </div>
                        <div class="card-footer justify-content-center">
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="card-footer justify-content-center">
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="card-footer justify-content-center">
                            <button class="btn btn-custom-default" onclick="location.href = '@Url.Action("Login", "Account")';return false;">Login</button>
                        </div>

                    </div>

                </section>

            </div>

        </div>

    </div>

</div>
