﻿@model Linte.Identity.Infra.CrossCutting.Identity.Model.SendCodeViewModel
@{
    ViewBag.Title = "Validar código de autorização do seu telefone";
}


@{
    Html.RenderPartial("_MensagensNotificacoes");
}

<section class="content register-page">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <div class="card card-signup">

                    <div class="card-content">
                        
                        @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { id = "Form-VerifyPhoneNumber", @class = "form-horizontal", role = "form" }))
                        {

                            <div class="row">

                                <div class="col-md-4 col-md-offset-1">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-success">
                                            <i class="material-icons">settings_cell</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Seu código de validação</h4>
                                            <p class="description">
                                                Confirme como você deseja receber seu código de validação.
                                            </p>

                                        </div>
                                    </div>


                                </div>


                                <div class="col-md-6">

                                    @Html.AntiForgeryToken()

                                    <h4>Receber por...</h4>

                                    <div class="form-group label-floating is-empty">
                                        @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, "", new { @class = "form-control select" })

                                    </div>

                                </div>

                            </div>

                            <footer class="text-right">

                                <button class="btn btn-custom-default cancel" onclick="document.getElementById('Form-SetPhoneNumber').action = '@Url.Action("Cancelar", "Manage")';">
                                    Voltar
                                </button>

                                <button class="btn btn-custom-salvar">
                                    Validar meu telefone
                                </button>

                            </footer>

                        }
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>
