﻿@model Linte.Identity.Infra.CrossCutting.Identity.Model.VerifyCodeViewModel
@{
    ViewBag.Title = "Validar código de autorização do seu telefone";
}


@{
    Html.RenderPartial("_MensagensNotificacoes");
}

<section class="content register-page">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <div class="card card-signup">

                    <div class="card-content">

                        @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("provider", @Model.Provider)
                            @Html.Hidden("rememberMe", @Model.RememberMe)

                            <div class="row">

                                <div class="col-md-4 col-md-offset-1">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-success">
                                            <i class="material-icons">settings_cell</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Seu código de validação</h4>
                                            <p class="description">
                                                Informe o código que você recebeu no campo ao lado, caso você queira logar automaticamente nesse computador basta marcar "Lembrar meu login nesse computador".
                                            </p>

                                        </div>
                                    </div>


                                </div>


                                <div class="col-md-6">

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 label-control" })
                                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => Model.Code, "", new { @class = "text-danger" })     
                                    </div>

                                    <div class="form-group">
                                        @Html.CheckBoxFor(m => m.RememberBrowser)
                                        @Html.LabelFor(m => m.RememberBrowser)
                                    </div>

                                </div>

                            </div>

                            <footer class="text-right">

                                <button class="btn btn-custom-default cancel" onclick="document.getElementById('Form-SetPhoneNumber').action = '@Url.Action("Cancelar", "Manage")';">
                                    Voltar
                                </button>

                                <button class="btn btn-custom-salvar">
                                    Validar meu código
                                </button>

                            </footer>

                        }
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
