﻿@model AgendaDoEstudante.WebMVC.Models.ViewModelParaHome


    <div class="col-md-6">

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Lista-Planejamento-Tarefas" }))
        {
            <div class="card">

                <div class="card-header card-header-icon" data-background-color="orange">
                    <i class="material-icons">assignment</i>
                </div>

                <div class="card-content">
                    <h4 class="card-title">Lista de Tarefas - Pendentes</h4>

                    @if (Model.RegistrosTarefas.Any(x => x.Status == false))
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tarefa</th>
                                        <th>Início</th>
                                        <th>Término</th>
                                        <th>Tipo</th>
                                        <th>Subtarefa</th>
                                        <th class="text-center">Editar</th>
                                        <th class="text-center">Finalizar</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var tarefa in Model.RegistrosTarefas.Where(x => x.Status == false))
                                    {
                                        <tr>
                                            <td> @*<i class="material-icons flag-tarefa" style="font-size:14px; padding:0px 5px;" data-background-color="@tarefa.OrigemTarefa">flag</i>*@ @tarefa.Descricao</td>
                                            <td>
                                                @if (tarefa.DataInicio != null)
                                                {
                                                    @tarefa.DataInicio.Value.ToShortDateString()
                                                }
                                            </td>
                                            <td>
                                                @if (tarefa.DataTermino != null)
                                                {
                                                    @tarefa.DataTermino.Value.ToShortDateString()
                                                }
                                            </td>
                                            <td>@tarefa.DescricaoTipoTarefa</td>
                                            <td>@tarefa.SubTarefa</td>
                                            <td class="td-actions text-center">
                                                <button class="btn btn-custom-simple btn-custom-default" onclick="document.getElementById('Lista-Planejamento-Tarefas').action ='@Url.Action("Editar", "Tarefas", new { id = @tarefa.TarefaId, transicaoId = Guid.Empty })';">
                                                    <i class="material-icons">
                                                        edit
                                                    </i>
                                                </button>
                                            </td>
                                            <td class="text-center">
                                                <div class="td-actions text-center">
                                                    
                                                        <button class="btn btn-custom-salvar btn-custom-simple" onclick="document.getElementById('Lista-Planejamento-Tarefas').action ='@Url.Action("FinalizarTarefa", "Home", new { tarefaId = @tarefa.TarefaId })';">
                                                            <i class="material-icons">
                                                                assignment_turned_in
                                                            </i>
                                                        </button>
                                                   
                                                </div>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    }
                    else
                    {
                        <div class="dados-pendentes">
                            <h4 class="text-center">Clique no botão abaixo e cadastre uma nova Tarefa.</h4>
                        </div>
                    }

                    <div class="footer text-right">

                        <button class="btn btn-custom-adicionar" onclick="document.getElementById('Lista-Planejamento-Tarefas').action ='@Url.Action("Index", "Tarefas")';">
                            Adicionar Nova Tarefa
                        </button>

                    </div>

                </div>

            </div>

        }


    </div>

    <div class="col-md-6">

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Historico-Planejamento-Tarefas" }))
        {
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="dark-green">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Histórico de Tarefas - Concluídas</h4>

                    @if (Model.RegistrosTarefas.Any(x => x.Status))
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tarefa</th>
                                        <th>Início</th>
                                        <th>Término</th>
                                        <th>Tipo</th>
                                        <th>Subtarefa</th>
                                        <th class="text-center">Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var tarefa in Model.RegistrosTarefas.Where(x => x.Status == true))
                                    {
                                        <tr>
                                            <td>@tarefa.Descricao</td>
                                            <td>
                                                @if (tarefa.DataInicio != null)
                                                {
                                                    @tarefa.DataInicio.Value.ToShortDateString()
                                                }
                                            </td>
                                            <td>
                                                @if (tarefa.DataTermino != null)
                                                {
                                                    @tarefa.DataTermino.Value.ToShortDateString()
                                                }
                                            </td>
                                            <td>@tarefa.DescricaoTipoTarefa</td>
                                            <td>@tarefa.SubTarefa</td>
                                            <td class="td-actions text-center">
                                                <button class="btn btn-custom-simple btn-custom-default" onclick="document.getElementById('Historico-Planejamento-Tarefas').action ='@Url.Action("Editar", "Tarefas", new { id = @tarefa.TarefaId,  transicaoId = Guid.Empty })';">
                                                    <i class="material-icons">
                                                        edit
                                                    </i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                    else
                    {
                        <div class="dados-pendentes">
                            <h4 class="text-center">Você ainda não possui nenhuma tarefa concluída.</h4>
                        </div>
                    }

                </div>
            </div>
        }

    </div>


