﻿@model AgendaDoEstudante.WebMVC.Models.ViewModelParaHome

<div class="col-md-6">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Lista-Planejamento-Aulas" }))
    {
        <div class="card">

            <div class="card-header card-header-icon" data-background-color="orange">
                <i class="material-icons">assignment</i>
            </div>

            <div class="card-content">
                <h4 class="card-title">Lista de Aulas - Pendentes</h4>

                @if (Model.RegistrosAulas.Any(x => x.Data >= DateTime.Today))
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Dia da Aula</th>
                                    <th>Disciplina da Aula</th>
                                    <th class="text-center">Editar</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var aula in Model.RegistrosAulas.Where(x => x.Data >= DateTime.Today))
                                {
                                    <tr>
                                        <td>@aula.Data.Value.ToShortDateString()</td>
                                        <td>@aula.DescricaoDisciplina</td>
                                        <td class="td-actions text-center">
                                            <button class="btn btn-custom-simple btn-custom-default" onclick="document.getElementById('Lista-Planejamento-Aulas').action ='@Url.Action("Editar", "Aula", new { id = @aula.TurmaDisciplinaAulaId })';">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                }
                else
                {
                    <div class="dados-pendentes">
                        <h4 class="text-center">Clique no botão abaixo e cadastre uma nova Aula.</h4>
                    </div>
                }

                <div class="footer text-right">

                    <button class="btn btn-custom-adicionar" onclick="document.getElementById('Lista-Planejamento-Aulas').action ='@Url.Action("Index", "Aula")';">
                        Adicionar Nova Aula
                    </button>

                </div>

            </div>

        </div>

    }


</div>

<div class="col-md-6">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Lista-Planejamento-Aulas-Finalizadas" }))
    {
        <div class="card">

            <div class="card-header card-header-icon" data-background-color="dark-green">
                <i class="material-icons">assignment</i>
            </div>

            <div class="card-content">
                <h4 class="card-title">Lista de Aulas - Encerradas</h4>

                @if (Model.RegistrosAulas.Any(x => x.Data < DateTime.Today))
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Dia da Aula</th>
                                    <th>Disciplina da Aula</th>
                                    <th class="text-center">Editar</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var aula in Model.RegistrosAulas.Where(x => x.Data < DateTime.Today))
                                {
                                    <tr>
                                        <td>@aula.Data.Value.ToShortDateString()</td>
                                        <td>@aula.DescricaoDisciplina</td>
                                        <td class="td-actions text-center">
                                            <button class="btn btn-custom-simple btn-custom-default" onclick="document.getElementById('Lista-Planejamento-Aulas-Finalizadas').action ='@Url.Action("Editar", "Aula", new { id = @aula.TurmaDisciplinaAulaId })';">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                }
                else
                {
                    <div class="dados-pendentes">
                        <h4 class="text-center">Você ainda não possui aulas encerradas.</h4>
                    </div>
                }

            </div>

        </div>

    }


</div>