﻿@model AgendaDoEstudante.WebMVC.Models.ViewModelParaHome

<div class="col-md-6">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Lista-Planejamento-Exames" }))
    {
        <div class="card">

            <div class="card-header card-header-icon" data-background-color="orange">
                <i class="material-icons">assignment</i>
            </div>

            <div class="card-content">
                <h4 class="card-title">Lista de Exames - Pendentes</h4>

                @if (Model.RegistrosExames.Any(x => x.Data >= DateTime.Today))
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Exame</th>
                                    <th>Data do Exame</th>
                                    <th>Hora de Início</th>
                                    <th>Hora de Término</th>
                                    <th class="text-center">Editar</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var exame in Model.RegistrosExames.Where(x => x.Data >= DateTime.Today))
                                {
                                    <tr>
                                        <td>@exame.Descricao</td>                                        
                                        <td>@exame.Data.ToShortDateString()</td>
                                        <td>@exame.HoraInicio</td>
                                        <td>@exame.HoraTermino</td>
                                        <td class="td-actions text-center">
                                            <button class="btn btn-custom-simple btn-custom-default" onclick="document.getElementById('Lista-Planejamento-Exames').action ='@Url.Action("Editar", "Exame", new { id = @exame.TurmaDisciplinaExameId })';">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                }
                else
                {
                    <div class="dados-pendentes">
                        <h4 class="text-center">Clique no botão abaixo e cadastre um novo Exame.</h4>
                    </div>
                }

                <div class="footer text-right">

                    <button class="btn btn-custom-adicionar" onclick="document.getElementById('Lista-Planejamento-Exames').action ='@Url.Action("Index", "Exame")';">
                        Adicionar Novo Exame
                    </button>

                </div>

            </div>

        </div>

    }


</div>

<div class="col-md-6">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Lista-Planejamento-Exames-Finalizados" }))
    {
        <div class="card">

            <div class="card-header card-header-icon" data-background-color="dark-green">
                <i class="material-icons">assignment</i>
            </div>

            <div class="card-content">
                <h4 class="card-title">Lista de Exames - Realizados</h4>

                @if (Model.RegistrosExames.Any(x => x.Data < DateTime.Today))
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Exame</th>
                                    <th>Data do Exame</th>
                                    <th>Hora de Início</th>
                                    <th>Hora de Término</th>
                                    <th class="text-center">Editar</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var exame in Model.RegistrosExames.Where(x => x.Data < DateTime.Today))
                                {
                                    <tr>
                                        <td>@exame.Descricao</td>
                                        <td>@exame.Data.ToShortDateString()</td>
                                        <td>@exame.HoraInicio</td>
                                        <td>@exame.HoraTermino</td>
                                        <td class="td-actions text-center">
                                            <button class="btn btn-custom-simple btn-custom-default" onclick="document.getElementById('Lista-Planejamento-Exames-Finalizados').action ='@Url.Action("Editar", "Exame", new { id = @exame.TurmaDisciplinaExameId })';">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                }
                else
                {
                    <div class="dados-pendentes">
                        <h4 class="text-center">Você ainda não possui exames realizados.</h4>
                    </div>
                }

            </div>

        </div>

    }


</div>