﻿@model AgendaDoEstudante.WebMVC.Models.ViewModelParaHome

<div class="col-md-6">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Lista-Planejamento-Trabalhos" }))
    {
        <div class="card">

            <div class="card-header card-header-icon" data-background-color="orange">
                <i class="material-icons">assignment</i>
            </div>

            <div class="card-content">
                <h4 class="card-title">Lista de Trabalhos - Pendentes</h4>

                @if (Model.RegistrosTrabalhos.Any(x => x.DataEntrega >= DateTime.Today))
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Trabalho</th>
                                    <th>Data de Entrega</th>
                                    <th>Disciplina</th>
                                    <th class="text-center">Editar</th>                                    
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var trabalho in Model.RegistrosTrabalhos.Where(x => x.DataEntrega >= DateTime.Today))
                                {
                                    <tr>
                                        <td>@trabalho.Descricao</td>
                                        <td>@trabalho.DataEntrega.ToShortDateString()</td>
                                        <td>@trabalho.NomeDisciplina</td>
                                        <td class="td-actions text-center">
                                            <button class="btn btn-custom-simple btn-custom-default" onclick="document.getElementById('Lista-Planejamento-Trabalhos').action ='@Url.Action("Editar", "Trabalho", new { id = @trabalho.TurmaDisciplinaTrabalhoId })';">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                }
                else
                {
                    <div class="dados-pendentes">
                        <h4 class="text-center">Clique no botão abaixo e cadastre um novo Trabalho.</h4>
                    </div>
                }

                <div class="footer text-right">

                    <button class="btn btn-custom-adicionar" onclick="document.getElementById('Lista-Planejamento-Trabalhos').action ='@Url.Action("Index", "Trabalho")';">
                        Adicionar Novo Trabalho
                    </button>

                </div>

            </div>

        </div>

    }


</div>

<div class="col-md-6">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Lista-Planejamento-Trabalhos-Realizados" }))
    {
        <div class="card">

            <div class="card-header card-header-icon" data-background-color="dark-green">
                <i class="material-icons">assignment</i>
            </div>

            <div class="card-content">
                <h4 class="card-title">Lista de Trabalhos - Finalizados</h4>

                @if (Model.RegistrosTrabalhos.Any(x => x.DataEntrega < DateTime.Today))
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Trabalho</th>
                                    <th>Data de Entrega</th>
                                    <th>Disciplina</th>
                                    <th class="text-center">Editar</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var trabalho in Model.RegistrosTrabalhos.Where(x => x.DataEntrega < DateTime.Today))
                                {
                                    <tr>
                                        <td>@trabalho.Descricao</td>
                                        <td>
                                            @trabalho.DataEntrega.ToShortDateString()                                         
                                        </td>
                                        <td>@trabalho.NomeDisciplina</td>
                                        <td class="td-actions text-center">
                                            <button class="btn btn-custom-simple btn-custom-default" onclick="document.getElementById('Lista-Planejamento-Trabalhos-Realizados').action ='@Url.Action("Editar", "Trabalho", new { id = @trabalho.TurmaDisciplinaTrabalhoId })';">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                }
                else
                {
                    <div class="dados-pendentes">
                        <h4 class="text-center">Você não possui trabalhos finalizados.</h4>
                    </div>
                }

            </div>

        </div>

    }


</div>