﻿@model AgendaDoEstudante.WebMVC.Models.ViewModelParaHome

@{
    ViewBag.Title = "Resumo das Atividades";
}

<section class="content">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="tarefa-grafico">
                        <div id="graficoTotalTarefas" class="ct-chart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Tarefas para o ano de @DateTime.Now.Year</h4>
                        <p class="category">Total geral de tarefas</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="orange">
                        <div id="graficoTotalTarefasPendentes" class="ct-chart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Tarefas pendentes para o ano de @DateTime.Now.Year</h4>
                        <p class="category">Total de tarefas aguardando finalização</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="blue">
                        <div id="graficoTarefasPorTipo" class="ct-chart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Tarefas por tipo de atividade no ano</h4>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 col-xs-6">
                <div class="card card-stats">

                    <div class="card-header botao-customizado" onclick="CarregarTarefas()" data-background-color="tarefa">
                        <i class="material-icons">assignment_turned_in</i>
                    </div>

                    <div class="card-content">
                        <p class="category">Total de Tarefas</p>
                        <h3 class="card-title">@Model.Tarefas</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Todos os períodos
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="card card-stats">
                    <div class="card-header botao-customizado" onclick="CarregarAulas()" data-background-color="aula">
                        <i class="material-icons">class</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Aulas Futuras</p>
                        <h3 class="card-title">@Model.AulasFuturas</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Aguardando conclusão
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="card card-stats">
                    <div class="card-header botao-customizado" onclick="CarregarTrabalhos()" data-background-color="trabalho">
                        <i class="material-icons">settings</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Trabalhos Pendentes</p>
                        <h3 class="card-title">@Model.TrabalhosFuturos</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Aguardando conclusão
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3 col-xs-6">
                <div class="card card-stats">
                    <div class="card-header botao-customizado" onclick="CarregarExames()" data-background-color="exame">
                        <i class="material-icons">rowing</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Exames Pendentes</p>
                        <h3 class="card-title">@Model.ExamesFuturos</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Aguardando conclusão
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="partial-metricas">

                @{
                    Html.RenderPartial("_resumoTarefas", Model);
                }

            </div>
            
        </div>
      
    </div>



</section>

@section scripts {
    <script type="text/javascript" src="~/Scripts/GraficosAgenda.js"></script>
    <script type="text/javascript" src="~/Scripts/FormularioHome.js"></script>
}