﻿
@model Responsavel.WebMVC.Models.RelatorioQuantitativoDisciplina.RelatorioQuantitativoDisciplinaModelList

@using (Html.BeginForm("LimparPesquisa", "RelatorioQuantitativoDisciplina", FormMethod.Post, new { id = "Lista-Escola-Usuario" }))
{

    <div class="card">

        <div class="card-header card-header-icon" data-background-color="blue">
            <i class="material-icons">view_list</i>
        </div>

        <div class="card-content">
            <h3 class="card-title">Relatório Quantitativo por Disciplina</h3>

            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.Page)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOrder)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortDirection)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOld)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.UrlRetorno)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.PaginacaoEOrdenacaoUrlRetorno)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.PesquisaUrlRetorno)

            <div class="table-responsive">

                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 20%">
                                Avaliação
                            </th>
                            <th style="width: 20%">
                                Área
                            </th>
                            <th style="width: 20%">
                                Disciplina
                            </th>
                            <th>
                                Turma
                            </th>
                            <th>
                                Questões
                            </th>
                            <th>
                                Acerto
                            </th>
                            <th>
                                Erro
                            </th>
                            <th>
                                % Acerto
                            </th>
                            <th>
                                % Erro
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Registros)
                {
                        <tr>
                            <td>@item.DescricaoAvaliacao</td>
                            <td>@item.DescricaoArea</td>
                            <td>@item.DescricaoDisciplina</td>
                            <td style="text-align: center">@item.TotalTurma</td>
                            <td style="text-align: center">@item.TotalAvaliacao</td>
                            <td style="text-align: center">@item.TotalAcerto</td>
                            <td style="text-align: center">@item.TotalErro</td>
                            <td style="text-align: center">@item.PercentualAcerto</td>
                            <td style="text-align: center">@item.PercentualErro</td>
                            <td class="td-actions" style="text-align: right"></td>
                        </tr>
        }
                    </tbody>
                </table>
            </div>

            @{Html.RenderPartial("../Shared/_dicasDeUsoTabela");}
        </div>

    </div>

}



@section scripts {

    @Scripts.Render("~/bundles/dataTable")

}

<script type="text/javascript">

    $(document).ready(function () {

        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [25, 50, 100, 150, 200, 250, -1],
                [25, 50, 100, 150, 200, 250, "Todos"]
            ],
            responsive: true,
            language: {
                "url": '/Content/jquery.datatables.language.jSon',
                search: "_INPUT_",
                searchPlaceholder: " contendo...",
            },
            buttons: [],
            "columnDefs": [
                {
                    "targets": [9],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }
            ]
        });

        setTimeout(function () {
            $('.material-datatables').show();
            $('#aguardeCarregar').hide();
        }, 1000);


        var table = $('#datatables').DataTable();

        // Edit record
        table.on('click', '.edit', function () {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        $('.card .material-datatables label').addClass('form-group');

    });
</script>


