﻿/***************************

	TODOS OS BOTÕES

***************************/

/****  Botões Resoluções médias & Mobile Customizados **/

.btn-lint-mobile {
    background-color: #999;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 6px 12px;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
}

    .btn-lint-mobile:hover {
        box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
    }

    .btn-lint-mobile .material-icons {
        vertical-align: middle;
        font-size: 17px;
        top: -1px;
        position: relative;
    }

    .btn-lint-mobile.btn-custom-default {
        background-color: #474747;
        transition: all ease-in-out 0.5s;
    }

@media (max-width:500px) {

    .btn-lint-mobile{
        margin-left:-8px;
    }

}

@media (max-width:780px) {

    .btn-lint-mobile {
        margin-left: -14px;
    }
}

/********** Botões ************/
.btn.btn-custom-limpar-pesquisa {
    background-color: white;
    color: #aaa;
    transition: all ease-in-out 0.5s;
}

.btn.btn-custom-salvar {
    background-color: #4993cb;
    transition: all ease-in-out 0.5s;
}

    .btn.btn-custom-salvar.btn-custom-simple {
        background: transparent;
        box-shadow: none;
        color: #4993cb;
        transition: all ease-in-out 0.5s;
    }

.btn.btn-custom-excluir {
    background-color: #d32f18;
    transition: all ease-in-out 0.5s;
}

    .btn.btn-custom-excluir.btn-custom-simple {
        background: transparent;
        box-shadow: none;
        color: #d32f18;
        transition: all ease-in-out 0.5s;
    }

.btn.btn-custom-adicionar {
    background-color: #305a7a;
    transition: all ease-in-out 0.5s;
}

    .btn.btn-custom-adicionar.btn-custom-simple {
        background: transparent;
        box-shadow: none;
        color: #305a7a;
        transition: all ease-in-out 0.5s;
    }



.btn.btn-custom-default {
    background-color: #474747;
    transition: all ease-in-out 0.5s;
}

    .btn.btn-custom-default.btn-custom-simple {
        background: transparent;
        box-shadow: none;
        color: #474747;
        transition: all ease-in-out 0.5s;
    }


.btn.btn-custom-info {
    background-color: #fff;
    transition: all ease-in-out 0.5s;
}

    .btn.btn-custom-info i {
        font-size: 30px;
    }

    .btn.btn-custom-info.btn-custom-simple {
        background: transparent;
        box-shadow: none;
        color: #fff;
        transition: all ease-in-out 0.5s;
    }



.btn.btn-lint-default {
    background-color: #306389;
    transition: all ease-in-out 0.5s;
}


    .btn.btn-lint-default.btn-custom-simple {
        background: transparent;
        box-shadow: none;
        color: #306389;
        transition: all ease-in-out 0.5s;
    }


    /* Hover dos Botões */

    .btn.btn-custom-adicionar:hover, .btn.btn-custom-default:hover, .btn.btn-custom-salvar:hover, .btn.btn-custom-limpar-pesquisa:hover, .btn.btn-lint-default:hover, .btn.btn-custom-excluir:hover, .btn-lint-mobile.btn-custom-default:hover {
        /*background-color: #26666b;*/
    }

    .btn.btn-lint-default.btn-custom-simple:hover, .btn.btn-custom-salvar.btn-custom-simple:hover, .btn.btn-custom-default.btn-custom-simple:hover, .btn.btn-custom-excluir.btn-custom-simple:hover, .btn.btn-custom-adicionar.btn-custom-simple:hover {
        background-color: transparent;
        color: #26666b;
    }


/* Botões de salvar, Adicionar e Excluir */

button.bf.btn.src.add {
    background: #305a7a;
    border: 1px solid #33668d;
}

    button.bf.btn.src.add:hover {
        background: #26666b;
        border: 1px solid #26666b;
    }


button.bf.btn.src.save {
    background: #26666b;
    border: 1px solid #306389;
}

    button.bf.btn.src.save:hover {
        background: #F79C40;
        border: 1px solid #CC7A29;
    }

button.salvar {
    background: #4da1e0;
    border: 1px solid #306389;
    text-shadow: none;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

    button.salvar:hover {
        background: #F79C40;
        border: 1px solid #CC7A29;
        color: #fff;
    }

button.excluir {
    background: #d32f18;
    border: 1px solid #ac1601;
    text-shadow: none;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

    button.excluir i {
        font-size: 0.9em;
    }

    button.excluir:hover {
        background: #F79C40;
        border: 1px solid #CC7A29;
        color: #fff;
    }

/* Botão de Voltar */

/********************************************

	BOTÕES DE CONTEUDOS INTERNOS - TAREFAS ( EXAMES & TRABALHOS )

********************************************/

.btn.btn-tarefa-categoria {
    padding: 25px 0px;
}

/********************************************

	BOTÕES DE RESUMO - HOME

********************************************/

.botao-customizado { cursor:pointer; }

/*.flag-tarefa [data-color="flag-tarefa"] {
    color: #003399;    
}*/

.card [data-background-color="tarefa-grafico"] {
    background: linear-gradient(60deg, #1a66ff, #003399);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="tarefa"] {
    background: linear-gradient(60deg, #1a66ff, #003399);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="aula"] {
    background: linear-gradient(60deg, #6666ff, #4d4dff);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="trabalho"] {
    background: linear-gradient(60deg, #00ace6, #0099cc);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="exame"] {
    background: linear-gradient(60deg, #00b3b3, #009999);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

    .card [data-background-color="tarefa"]:hover, .card [data-background-color="aula"]:hover, .card [data-background-color="trabalho"]:hover, .card [data-background-color="exame"]:hover {
        background: linear-gradient(60deg, #ffa726, #fb8c00);
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    }


    /*

        BOTÕES TIMELINE

    */

    .botao-timeline i { font-size:18px;  }
    .botao-timeline.editar i { color:#474747;}
    .botao-timeline.finalizar i { color: #4da1e0; cursor:pointer;}

.botao-timeline.editar:hover i, .botao-timeline.finalizar:hover i {
    color: #F79C40;
}

/*****************************
    Wizard Inscricao
***********************************/

.wizard-card[data-color="lint"] .moving-tab {
    background-color: #306389;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}
.wizard-card[data-color="lint"] .picture:hover {
    border-color: #306389;
}
.wizard-card[data-color="lint"] .choice:hover .icon, .wizard-card[data-color="lint"] .choice.active .icon {
    border-color: #306389;
    color: #306389;
}
.wizard-card[data-color="lint"] .form-group .form-control {
    background-image: linear-gradient(#306389, #306389), linear-gradient(#D2D2D2, #D2D2D2);
}
.wizard-card[data-color="lint"] .checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background-color: #306389;
}
.wizard-card[data-color="lint"] .radio input[type=radio]:checked ~ .check {
    background-color: #306389;
}
.wizard-card[data-color="lint"] .radio input[type=radio]:checked ~ .circle {
    border-color: #306389;
}

.btn-group.open > .dropdown-toggle.btn, .btn-group.open > .dropdown-toggle.btn.btn-default, .btn-group-vertical.open > .dropdown-toggle.btn, .btn-group-vertical.open > .dropdown-toggle.btn.btn-default {
    background-color: #474747;
}


/* Botões de hover para as ações em formulários*/

.nav-center {
    padding-top: 50px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #4ca4ae!important;
    color: #FFFFFF !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(73, 147, 203, 0.4);
}

.nav-pills.nav-pills-warning > li.active > a,
.nav-pills.nav-pills-warning > li.active > a:focus,
.nav-pills.nav-pills-warning > li.active > a:hover {
    background-color: #4ca4ae;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(76, 164, 174);
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #4993cb;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(73, 147, 203, 0.4);
}

.nav-pills .nav-item .nav-link.active {
    color: #FFFFFF !important;
}

.card-header-noborder .nav .nav-pills a {
    color: #FFFFFF !important;
}

.card-header-noborder .nav-pills .nav-item .nav-link {
    color: #FFFFFF !important;
}

.card .card-header-success .card-icon, .card .card-header-success .card-text, .card .card-header-success:not(.card-header-icon):not(.card-header-text), .card.bg-success, .card.card-rotate.bg-success .front, .card.card-rotate.bg-success .back {
    background: linear-gradient(60deg, #2f73a6, #305A7A);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

/********************************************

	BOTÕES DE RESUMO - HOME

********************************************/

.botao-customizado {
    cursor: pointer;
}

/*.flag-tarefa [data-color="flag-tarefa"] {
    color: #003399;    
}*/

.card [data-background-color="tarefa-grafico"] {
    background: linear-gradient(60deg, #1a66ff, #003399);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="tarefa"] {
    background: linear-gradient(60deg, #1a66ff, #003399);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="aula"] {
    background: linear-gradient(60deg, #6666ff, #4d4dff);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="trabalho"] {
    background: linear-gradient(60deg, #00ace6, #0099cc);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="grafico"] {
    background: linear-gradient(60deg, ghostwhite, aliceblue);
}


.card [data-background-color="exame"] {
    background: linear-gradient(60deg, #00b3b3, #009999);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="efetividade_up"] {
    background: linear-gradient(60deg, #4caf50, #23742c);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="efetividade_media"] {
    background: linear-gradient(60deg, #ff9800, #fb8c00);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

.card [data-background-color="efetividade_down"] {
    background: linear-gradient(60deg, #f44336, #ac1601);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);
}

    .card [data-background-color="tarefa"]:hover, .card [data-background-color="aula"]:hover, .card [data-background-color="trabalho"]:hover, .card [data-background-color="exame"]:hover,
    .card [data-background-color="efetividade_up"]:hover, .card [data-background-color="efetividade_media"]:hover, .card [data-background-color="efetividade_down"]:hover {
        background: linear-gradient(60deg, lightslategray, #474747);
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
    }


/*

        BOTÕES TIMELINE

    */

.botao-timeline i {
    font-size: 18px;
}

.botao-timeline.editar i {
    color: #474747;
}

.botao-timeline.finalizar i {
    color: #4da1e0;
    cursor: pointer;
}

.botao-timeline.editar:hover i, .botao-timeline.finalizar:hover i {
    color: #F79C40;
}

.hr-botao {
    border: none;
    border-left: 1px solid #aaafb5;
    height: 50px;
    width: 1px;
}