﻿/* 
    Nota:       
    Os estilos desta folha se aplicam a todo o Ambiente idependente de qual formulário ou local esteja 


    HEADERS E DESTAQUES DE TOPO
    Estilos dos Headers de cada página / Formulário
*/



.card [data-background-color="blue"] {
    background: linear-gradient(60deg, #2f73a6, #305A7A);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(71, 135, 184, 0.4);}

.card [data-background-color="dark-green"] {
    background: linear-gradient(60deg, #00cc66, #00793d);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 204, 102, 0.4);
}

.card [data-background-color="instituição"] {
    background: linear-gradient(60deg, #9898cd, #5454ab);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(152, 152, 205, 0.4);
}

.card [data-background-color="alert-danger"] {
    background: linear-gradient(60deg, #502c0d, chocolate);
}

.card [data-background-color="alert-error"] {
    background: linear-gradient(60deg, #370400, #971107);
}



/* Home */

/*table tbody tr:nth-child(even) {
    background-color: #f2efef;
}*/

table tbody tr:hover {
    background-color: #fafafa;
}


.home-titulos-mobile p {
    padding-top: 15px;
    font-weight: bold;
}

/*
    DADOS PENDENTES
    Estilização da Div de quando o formulário não retorna itens registrados

*/

.dados-pendentes {
    margin: 10px;
    padding: 35px;
    border: 2px dashed #808080;
}

/*
    ICONES
    Tamanhos estilizados para os icones ( aumentando um pouco )
*/

.material-icons.custom-icons-tamanho {
    font-size: 16px;
}

/* 
    Formulario de Imagem 
*/

.valor_compra:hover {
    background-color: #e2fff0;
}

.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.picture {
    width: 160px;
    height: 160px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture:hover {
    border-color: #2ca8ff;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    width: 100%;
}

.sidebar .user .photo img {
    width: 100%;
}
/*
    Linha Divisória entre colunas
*/

.border-between > [class*='col-']:before {
   background: #e3e3e3;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 1px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

/*
    Tabelas
*/

.tabela-desktop{display:block;}
.tabela-mobile{display:none;}
.tabela-endereco-desktop{display:block;}
.tabela-endereco-mobile{display:none;}

.card .tabela-complementar { width:100%; max-width:100%; margin-top:30px; /*Essa margem é para distanciar a tabela do inicio do cartão ( cards que possuem icones ao inves de titulos extensos) */  }
.card .tabela-complementar thead > tr > th { border-bottom:1px solid #ddd; font-size:1.25em; font-weight: 300; padding:12px 8px; vertical-align: middle; }

.card .tabela-complementar tbody > tr:first-child td { border-top:none;}
.card .tabela-complementar tbody > tr > td { padding:2px 8px; vertical-align: middle; border-top: 1px solid #ddd ;}
        
 @media (max-width: 500px) {
        .tabela-desktop{display:none;}
    .tabela-mobile{display:block;}

}

@media (max-width:1500px){

    .tabela-endereco-desktop {
        display: none;
    }

    .tabela-endereco-mobile {
        display: block;
    }

}

/* DataTable */

tr.group { background-color: #cccccc !important; font-weight: bold;}
    tr.group, tr.group:hover {
        background-color: #cccccc !important;
    }

/* Paginação */

/* RadioButtons */
.radio input[type=radio]:checked ~ .check {
    background-color: #305A7A;
}

/*Text Area Geral*/

.form-group textarea.textarea-lint {
    resize: none;
    height: 150px;
}

.card .card-header-noborder {
    z-index: 3;
    margin: 0;
    padding: 5px 20px 5px;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.main-panel > .content {
    margin-top: 50px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}


/* Cor da barra de titulos para h2*/
.card-header-noborder h3 {
    color: white;
}

/* Footer para botoes*/
.linte-footer {
    padding: 0.9375rem 0;
    text-align: center;
}

.linte-label {
    color: #75120a;
    font-size: 1.6em;
}

/* espaço entre elementos de div para as caxias de Suporte*/
.linte-div {
    padding-bottom: 25px;
}


/* Material Kit Expansion */


.card-estudante .card-header {
    float: left;
}

.card-estudante .card-content {
    text-align: left;
    padding-top: 10px;
}

.card-estudante a.imagem {
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 3px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(48, 90, 122, 0.4);
}

