﻿/*
    NOTA:
    Esta folha contem os estilos da página de Login Principal, Página de Registro Principal e a Página de Recuperar Senha


    Imagens de Fundo das páginas
*/

#lista {
    padding-top:0px;
}

.wizard-card .picture.custom-width-lint {
    width:220px; height:220px;
}

.login-page > .content.custom-background-image {
    min-height: 100vh;
    padding-top: 12vh;
}

.card [data-background-color].agenda-header-text {
    width: 90%;
    left: 5%;
    right: 5%;
    margin: 0px;
    margin-top: -20px;
}


/*
    Icone de confirmação do Registro

*/

.icone-sucesso-registro {
    margin: 0 auto;
    width: 20%;
    text-align: center;
}

.icone-sucesso-registro i {
    font-size: 65px;
}


/*
    Botões das páginas

*/


.botao-entrar {
    margin: 15px 0px;
}

.btn.btn-start {
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
}
