﻿.relatorio-distribuicao-vazio {
    text-align: center;
}


.relatorio-distribuicao-acerto {
    background-color: #3CB371;
    color: aliceblue;
    text-align: center;
}


.relatorio-distribuicao-erro {
    background-color: #B22222;
    color:aliceblue;
    text-align: center;
}

.relatorio-distribuicao-notamaxima {
    font-weight: bold;
    
}

.dicas-de-uso {
    font-weight: bold;
}


.painel-estudantes-darkframe {
    background-color: rgba(0, 0, 0, 0.4);
    height: 120px;
}

.nav-pills .nav-item .nav-link.painel-estudantes-darkframe:hover {

    background-color: rgba(0, 0, 0, 0.7);
    color:white;

}

.nav-pills .nav-item .nav-link.painel-estudantes-darkframe.active {

    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(73, 147, 203, 0.4);
}

