﻿/* 
    Nota:       
    Os estilos desta folha se aplicam a todos os Formulários do Ambiente, idependente de suas páginas e localização 

    -- Campo de auxilio dos formularios ( texto que aparece ao selecionar um input )
*/

.form-group .help-block.help-form-agenda {
    margin: 5px 0px;
}


/*
    Estilos dos Paineis Internos dos Formularios 
    
*/

.divisores-form {
    padding: 28px 0px;
}

/* Corpo do Painel */

.categoria-formulario-holder {
    border: 0;
    padding: 0px 20px;
    width: 100%;

}

    .categoria-formulario-holder .categoria-corpo {
        padding-bottom: 35px;
    }

    .categoria-formulario-holder .categoria-excluir {
        padding: 15px;
    }


        .categoria-formulario-holder .categoria-excluir .btn {
            border: 1px solid silver;
        }

            .categoria-formulario-holder .categoria-excluir .btn:hover {
                background-color: #d32f18;
                border: 1px solid #8f1301;
            }

        .categoria-formulario-holder .categoria-excluir i {
            font-size: 25px;
        }

        .categoria-formulario-holder .categoria-excluir .btn:hover i {
            color: #fff;
        }

    /* Header do Painel */

    .categoria-formulario-holder .categoria-header {
        margin: 5px 0px;
        padding: 10px 0;
        cursor: pointer;
        border-bottom: 1px solid silver;
        margin-bottom: 10px;
    }

        .categoria-formulario-holder .categoria-header h4 {
            font-weight: bold;
        }

            .categoria-formulario-holder .categoria-header h4 i {
                color: silver;
            }

            .categoria-formulario-holder .categoria-header h4:hover {
                color: #4787b8;
            }



/*
    Area de Informações ( coluna há esquerda nos browsers, a superior em mobiles )
*/

.header-info-form-mobile h4:hover {
    color: #F79C40;
}
.card-title.info-titulo {
    font-weight: bold;
}

.informacoes-formulario {
    margin: 25px 0px;
}

.info-destaque-importante {
    padding: 8px 5px;
    border: 3px dashed #ff6a00;
    background-color: #feede0;
    text-align: center;
}

    .info-destaque-importante h5 {
        font-weight: 500;
        font-size: 16px;
    }

    .info-destaque-importante ul {
        list-style-type:none;
        margin:0px;
        padding:0px;
    }

    .info-destaque-importante ul li {

        font-weight:bold;

    }
        /*
    Checkbox das Listas de Tarefas em Exames, Trabalhos e demais
*/
        .table .checkbox.checkbox-lint-formulario {
            margin: 0 auto;
        }

        .checkbox.checkbox-lint-formulario label {
            color:#000;
            margin-left: 15px ;
        }

        .checkbox.checkbox-lint-formulario.formulario-comum{

            margin-top:0px;
            top:45px;
            left:10px;
        }

@media (max-width: 500px) {

    .checkbox.checkbox-lint-formulario.formulario-comum {
        margin-top: 0px;
        top: 10px;
    }


}


