﻿* {
    margin: 0;
    padding: 0;
    border: none;
}

.bodyGhost {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.candyTrail {
    position: absolute;
    left: 0;
    display: flex;
    top: 230px;
    width: 45%;
    justify-content: space-around;
}

.candycorn {
    height: 30px;
    width: 25px;
    background: #fed36a;
    border-radius: 50% 50% 50% 50%/78% 77% 23% 22%;
    overflow: hidden;
}

    .candycorn:before {
        content: "";
        width: 25px;
        height: 10px;
        background: white;
        display: block;
        border-radius: 50%/50%;
        border-bottom: 10px solid #eb7847;
    }

.candy {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #cc5e43;
    margin-left: 20px;
    position: relative;
    transform: rotate(-15deg);
    z-index: -1;
    bottom: 10px;
    left: 15px;
}

    .candy:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: -13px;
        top: -3px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #cc5e43;
        border-radius: 4px;
    }

    .candy:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: -13px;
        top: -3px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 15px solid #cc5e43;
        border-radius: 4px;
    }

.ghost {
    height: 150px;
    width: 100px;
    background: white;
    border-radius: 70px;
    margin: 75px;
    position: relative;
    animation: hoverGhost 2s ease infinite;
}

    .ghost .tail {
        height: 80px;
        width: 90px;
        position: absolute;
        background: white;
        border-radius: 0% 100% 0% 100%/25% 33% 67% 75%;
        bottom: 0;
        left: -40px;
    }

        .ghost .tail:after {
            content: "";
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 100% 0% 30% 70%/0% 74% 26% 100%;
            position: absolute;
            top: -20px;
            left: -10px;
            background: #eee;
        }

.bucket {
    background: orange;
    width: 80px;
    height: 60px;
    border-radius: 3px 3px 50px 50px;
    border-top: 4px solid darkorange;
    position: absolute;
    top: 75px;
    left: 30px;
}

    .bucket:after {
        content: "";
        display: block;
        width: 84px;
        position: absolute;
        margin-left: -2px;
        top: -18px;
        height: 30px;
        border-radius: 100%;
        border-bottom: 5px solid #222;
    }

    .bucket .candy {
        transform: rotate(-14deg) scale(1) !important;
    }

.eyes {
    display: flex;
    width: 50px;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    right: 10px;
}

.eye {
    background: black;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    position: relative;
}

    .eye:after {
        content: "";
        display: block;
        background: white;
        height: 8px;
        width: 8px;
        position: absolute;
        top: 0;
        right: -2px;
        border-radius: 4px;
    }

.mouth {
    height: 10px;
    width: 16px;
    position: absolute;
    top: 28px;
    left: 60px;
    border-radius: 8px;
    border-bottom: 3px solid black;
}

.hand {
    width: 40px;
    height: 30px;
    background: white;
    border-radius: 0 25px 25px 0;
    position: absolute;
    top: 80px;
    left: 10px;
}

.shadow {
    width: 100px;
    box-shadow: 0 0 15px 1px #222;
    height: 0;
}

@keyframes hoverGhost {
    0% {
        transform: translateY(20px) rotate(1deg);
    }

    50% {
        transform: translateY(0px) rotate(-3deg);
    }

    100% {
        transform: translateY(20px) rotate(1deg);
    }
}

.candycorn:nth-child(1), .candy:nth-child(1) {
    transform: rotate(10deg) scale(0.1666666667);
}

.candycorn:nth-child(2), .candy:nth-child(2) {
    transform: rotate(20deg) scale(0.2857142857);
}

.candycorn:nth-child(3), .candy:nth-child(3) {
    transform: rotate(30deg) scale(0.375);
}

.candycorn:nth-child(4), .candy:nth-child(4) {
    transform: rotate(40deg) scale(0.4444444444);
}

.candycorn:nth-child(5), .candy:nth-child(5) {
    transform: rotate(50deg) scale(0.5);
}

.candycorn:nth-child(6), .candy:nth-child(6) {
    transform: rotate(60deg) scale(0.5454545455);
}

.candycorn:nth-child(7), .candy:nth-child(7) {
    transform: rotate(70deg) scale(0.5833333333);
}

.candycorn:nth-child(8), .candy:nth-child(8) {
    transform: rotate(80deg) scale(0.6153846154);
}
