﻿body {
    margin: 0;
    background: #eee;
}

.ghost-container {
    margin-top: -100px;
    width: 120px;
    transform-origin: center;
    animation: ghost-x 10s ease-in-out infinite;
}

.ghost {
    margin: 20vh 0;
    display: flex;
    flex-direction: column;
    width: 120px;
    animation: ghost-y 2s ease-in-out infinite;
}

.body-top {
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.body-low {
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 30%;
    margin: -90px 0;
    z-index: -1;
}

.skirt {
    background-color: white;
    height: 30px;
    width: 65px;
    border-radius: 20px;
    align-self: flex-start;
    margin-top: -15px;
    margin-left: -20px;
    animation: skirt-x 10s linear infinite;
}

.eyes {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 35px;
    animation: eye-x 10s linear infinite;
}

.eye {
    border: 5px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px;
    z-index: 100;
}

.hand {
    border-top: 0px;
    border-left: 0px solid white;
    border-right: 0px solid white;
    border-bottom: 10px solid white;
    border-radius: 50%;
    margin-top: -5px;
    height: 70px;
    width: 25px;
    z-index: 20;
    align-self: center;
    animation: hand-x 10s linear infinite;
}

.shadow {
    height: 10px;
    width: 60px;
    background-color: grey;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 30px;
    transform-origin: center;
    animation: shadow 2s linear infinite
}

@keyframes shadow {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

@keyframes ghost-y {
    0% {
        transform: translate(0,-10px)
    }

    50% {
        transform: translate(0,10px)
    }

    100% {
        transform: translate(0,-10px)
    }
}

@keyframes ghost-x {
    0% {
        transform: translateX(5vw)
    }

    50% {
        transform: translateX(90vw)
    }

    100% {
        transform: translateX(5vw)
    }
}

@keyframes eye-x {
    0% {
        transform: translateX(0px)
    }

    49% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(-40px)
    }

    99% {
        transform: translateX(-40px)
    }

    100% {
        transform: translateX()
    }
}

@keyframes skirt-x {
    0% {
        transform: translateX(0px)
    }

    49% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(95px)
    }

    99% {
        transform: translateX(95px)
    }

    100% {
        transform: translateX()
    }
}

@keyframes hand-x {
    0% {
        transform: translateX(-20px)
    }

    49% {
        transform: translateX(-20px)
    }

    50% {
        transform: translateX(20px)
    }

    99% {
        transform: translateX(20px)
    }

    100% {
        transform: translateX(-20px)
    }
}

#title {
    margin: -160px auto;
    color: black;
    width: 105px;
    /* 	border: 5px solid black; */
    padding: 5px;
    text-align: center;
    font-family: helvetica;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}
