﻿
* {
     box-sizing: border-box;
     -moz-box-sizing: border-box;
 }

 @media print {
     
     html, body {
         height: 100%;
         margin: 0;
         padding: 0;
         background-color: white;
         font: 12pt "Tahoma";
     }

     .print {
         display:block;
     }

     .no-print { 
         display:none; 
     }

     p {
         font-size: 1.8em;
         font-family: "Tahoma";
     }

     p {
         margin: 14px!important;
         padding: 0!important;
         display: block;
         font-size: 1.8em;

     }
       
     @page {
         size: A4 landscape;
         margin: 0;
         max-height:100%;
         max-width:100%
     }

     .page {
         margin: 0;
         border: initial;
         border-radius: initial;
         width: initial;
         min-height: initial;
         box-shadow: initial;
         background: initial;
         page-break-after: always;
         
     }

     img {
         width:100%;
         height:100%;
         display:block;
     }
 }