﻿/*body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}*/

.container-escola {
    width: 100px;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items:center;
    height:20vh;
    padding-top: 50px;
}

#hat,
#book,
#tick{
    animation:show 2s;
}
.leaf{
    opacity:0;
    animation: move 2s ease-in-out normal infinite;
}
#leaf-1{
    animation-delay:1s;
}
#leaf-2{
    animation-delay:1.15s;
}
#leaf-3{
    animation-delay:1.65s;
}
#leaf-4{
    animation-delay:1.25s;
}
#leaf-5{
    animation-delay:1.5s;
}
#leaf-6{
    animation-delay:1.75s;
}
#leaf-7{
    animation-delay:2s;
}
#leaf-8{
    animation-delay:2.25s;
}
#leaf-9{
    animation-delay:2.5s;
}
#leaf-10{
    animation-delay:2.75s;
}
#leaf-11{
    animation-delay:3s;
}
#leaf-12{
    animation-delay:3.25s;
}
#leaf-13{
    animation-delay:3.5s;
}
#leaf-14{
    animation-delay:3.75s;
}
#leaf-15{
    animation-delay:4s;
}

@keyframes move {
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@keyframes show{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}