﻿/* 
    Nota:       
    override default theme

*/

.initial-hide {
    display: none;
}

.card {
    border-radius: 0;
    margin-top: 60px !important;
}

a {
    color: black;
}

    a:hover, a:focus {
        color: rgb(73, 147, 203);
        text-decoration: none;
    }


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
/*.pagination > .active > span:hover {
    background-color: rgb(76, 164, 174) !important;
    border-color: rgb(76, 164, 174) !important;
    color: #FFFFFF !important;
    box-shadow: 0 4px 5px 0 rgba(73, 147, 203, 0.14), 0 1px 10px 0 rgba(73, 147, 203, 0.12), 0 2px 4px -1px rgba(73, 147, 203, 0.2) !important;
}*/

.login-page .card-login .card-title {
    color: white;
}

.login-page .card-login .card-body {
    padding: 20px 110px 20px 110px;
}

.form-control {
    outline: none;
    background-image: none;
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
    border-color: #999999;
}

.form-control, .form-group .form-control {
    border: 1px solid #ccc;
    padding: 0px 15px;
    margin: 20px 0;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-control, .input-group .form-control {
    outline: none;
    background-image: none;
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
    border-color: #999999;
    border-bottom-color: #999999;
}


.form-control, .is-focused .form-control {
    outline: none;
    background-image: none;
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
    border-color: #999999;
    border-bottom-color: #2f73a6
}


.form-group .checkbox label,
.form-group .radio label,
.form-group label,
.form-group .label-on-left,
.form-group .label-on-right {
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    font-weight: 500 !important;
}

form .form-group select.form-control {
    position: inherit;
    top: -5px;
}

.navbar .navbar-form .form-group .form-control,
.navbar .navbar-form .form-control {
    border: 0;
    color: inherit;
    padding: 20px;
    margin: 0;
    height: 28px;
    font-size: 14px;
    line-height: 1.42857;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: black !important;
}

.cardMenu {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #eee;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    color: black;
}

.btn.btn-primary.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-primary.btn-simple {
    background-color: transparent;
    color: #4993cb;
    box-shadow: none;
}


.btn-group,
.btn-group-vertical {
    margin: 5px 1px;
}

.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.perfect-scrollbar-off .sidebar .sidebar-wrapper,
.perfect-scrollbar-off .main-panel {
    overflow: hidden;
}

.select-with-transition {
    background-image: none !important;
}

.material-datatables .input-sm {
    height: 35px;
    padding: 0 15px;
    background-image: linear-gradient(#2741b0, #275eb0) /*, linear-gradient(#D2D2D2, #D2D2D2)*/ !important;
}

.material-datatables .table .checkbox {
    margin-top: -18px !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 100px !important;
}

tr.group,
tr.group:hover {
    background-color: #2f73a6 !important;
    color: white;
    font-weight: bold;
}

.table-hover > tbody > tr:hover {
    background-color: #fffff0;
}

/*****************************************************************
     
    Especifidades para Resoluções menores

********************************************************************/
@media (max-width:1024px) {
    .dragscroll {
        cursor: grab;
        cursor: -o-grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    /* Para as Tabelas */

    .specifidade {
        display: table;
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }

    .table.table-custom-relatorio-largura {
        width: 1500px;
    }
}


/*****************************************************************
     
   ToolTip

********************************************************************/
.btn + .tooltip > .tooltip-inner {
    background-color: black;
    color: #FFFFFF;
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
}
/* Tooltip on top */
.btn + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid black;
}
/* Tooltip on bottom */
.btn + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}
/* Tooltip on left */
.btn + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}
/* Tooltip on right */
.btn + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}

.wizard-card {
    opacity: 1;
}


/*****************************************************************
     
   Dropdown Ações

********************************************************************/


/* Dropdown Button */
.dropbtn {
    background-color: #999999;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 350px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 100;
    right: 0;
    top: 0;
    text-align: right;
}

    .dropdown-content .btn {
        padding: 12px !important;
        font-weight: bold;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    /*tr:last-child .dropdown-content {
    bottom: 0;
}*/

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px 8px 8px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #474747;
    opacity: 0;
}

.modal-dialog-livro {
    width: 900px;
    margin: 30px auto;
}

.arquivo-upload {
    padding-bottom: 10px;
}

.progress {
    height: 20px;
    border-radius: 5px;
    box-shadow: none;
    background: #DDDDDD;
}

.dt-buttons {
    text-align: right;
}

.card .relatorio {
    margin: 0;
    border-radius: 0;
    height: 300px;
}

.card .relatorio-m {
    margin: 0;
    border-radius: 0;
    height: 500px;
}

.card .relatorio .ct-chart {
    height: 200px;
}

.card .relatorio-m .ct-chart {
    height: 480px;
}

svg.ct-chart-bar, svg.ct-chart-line {
    overflow: visible;
}

.ct-label.ct-label.ct-horizontal.ct-end {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    font-size: 10px;
    transform-origin: 100% 0;
    transform: translate(-100%) rotate(-45deg);
    white-space: nowrap;
}

.sidebar-mini .sidebar .logo a.logo-normal {
    font-size: 14px;
}

.sidebar .logo a.logo-mini {
    width: 40px !important;
}

.nav .sidebar-mini {
    text-transform: uppercase;
    width: 30px;
    margin-right: 15px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    float: left;
    display: inherit;
}

.sidebar .logo a.logo-normal {
    font-size: 14px;
}

.arquivo-upload {
    padding-bottom: 10px;
}

    .arquivo-upload .btn {
        margin: 0;
        padding: 10px 15px;
    }

    .arquivo-upload a {
        padding-left: 10px;
    }

.btn-custom-visualizar {
    background: linear-gradient(60deg, #2f73a6, #305A7A);
}


.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    .modal:target {
        display: block;
        outline: none;
    }

    .modal .big_container {
        position: fixed;
        display: block;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        min-width: 785px;
        max-width: 785px;
        min-height: 515px;
        max-height: 515px;
        margin: 0px auto;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0px 1px 26px -3px #777777;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        text-align: center;
    }

.modal-content i {
    margin-right: 0 !important;
    color: #fff !important;
}

.modal-dialog {
    margin: 20px auto !important;
}

.modal-content .card {
    width: 100%;
    margin: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: #fff;
}

    .modal-content .card [data-background-color] {
        margin: 15px 15px 0 !important;
    }

.modal-content hr.linhaSeparacao {
    margin-top: 10px;
    border-top: 1px solid #dcdbdb;
    border-bottom: 1px solid #fff;
}

.menu-card-content .card {
    width: 100%;
    margin: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: #fff;
}

    .menu-card-content .card [data-background-color] {
        margin: 15px 15px 0 !important;
    }

.menu-card-content hr.linhaSeparacao {
    margin-top: 10px;
    border-top: 1px solid #dcdbdb;
    border-bottom: 1px solid #fff;
}

.tab-content hr.linhaSeparacao {
    border-top: 1px;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.tab-content-menubar {
    margin-top: 10px !important;
    margin-bottom: 10px;
}

/*  DICAS DE USO */
.card .card-content .category .dicas {
    font-weight: bold;
}

.relatorio-distribuicao td, .relatorio-distribuicao th {
    border: 1px solid #ddd;
    padding: 8px;
}


.linhaRelatorio {
    /* background-color: transparent; */
    border: 1px solid #cccccc;
    /*height: 100% !important;*/
    /*box-shadow: none!important;*/
}

.linhaRelatorioHeading {
    padding: 10px 15px !important;
    background-color: #f5f5f5 !important;
}


input[type=file] {
    color: transparent;
    background-color: transparent;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    z-index: 100;
}

.card-header-icon-rounded {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    background-color: #999999;
    position: relative !important;
}

.div-menu-hover:hover {
    background-color: rgba(39, 103, 108, 0.2);
}


    .div-menu-hover:hover hr {
        visibility: hidden;
    }


.registro-anulado {
    opacity: 0.5;
    color: orange;
    text-decoration: line-through;
}


div.dropdown-menu.open {
    max-height: 314px !important;
    overflow: hidden;
}

ul.dropdown-menu.inner {
    max-height: 260px !important;
    overflow-y: auto;
}


.card [data-background-color] .card-title {
    color: #FFFFFF;
}

.card [data-background-color] .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.card [data-background-color] .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.image-login {
    border-radius: 50%;
    border: 4px solid #CCCCCC;
    overflow: hidden;
    width: 80% !important;
    margin-top: 30px;
}

.card-header .material-icons {
    color: rgba(255, 255, 255, 0.62);
}

.card .card-header.card-header-icon {
    float: left;
    width: 63px;
    height: 64px;
    margin: -25px -20px 20px 20px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Barra de titulo superior dos formulários*/
.title, .linte {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 0px;
}

/* Card-Hidden*/
.wizard-card.card-hidden {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
}

/* Cor do label com focus*/
.is-focused [class^='bmd-label'],
.is-focused [class*=' bmd-label'] {
    color: #305a7a;
}

/* Cor de botões comuns*/
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(140, 139, 186, 0.4);
    background-color: #305a7a;
    color: #FFFFFF;
}

/* div de informações do painel de manutenção de conta*/
.info, .linte {
    padding: 5px;
}

/* Cor da navbar superior */
.navbar {
    background-color: #e9ebed !important;
}


/*/*/* Cor da barra lateral * 
.sidebar[data-background-color=black] {
    background: #0c303a;
}*/*/


/* DropDown list*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.form-control, .form-group .form-control .linte {
    background: white;
    background-image: none;
}

/*.bootstrap-select .btn.dropdown-toggle.select-with-transition { 1111
    top: -8px;
    
}*/

.bootstrap-select .dropdown-item.active {
    background: #305a7a;
    color: #fff;
}

.bootstrap-select .dropdown-menu {
    top: 35px !important;
    left: 0px !important;
}

/*.bootstrap-select .dropdown-toggle .filter-option { 1111
    top: -8px;
}*/

.form-control, .linte:read-only {
    background-image: none;
}

:not(.input-group) > .bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%;
    margin-top: 0px;
}



/*/* Pagination */
/*.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    border-radius: 4px;
}*/

    .pagination > li {
        display: inline;
    }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


/* Botões"*/

.btn.btn-primary {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(140, 139, 186, 0.4);
    background-color: #305a7a;
    color: #FFFFFF;
    border-color: #305a7a;
}

.card .card-footer-botao {
    margin: 20px 10px;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
}

.sidebar[data-background-color=black] {
    background: #305a7a !important;
}


.card [data-background-color] {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    /*margin: -20px 15px 0;*/
    padding: 15px;
    background-color: #999999;
    position: relative;
}

.card .card-content {
    padding: 15px 20px;
    position: relative;
}


.card .card-content .category {
    margin-bottom: 0;
}

.title, .title a, .card-title, .card-title a, .info-title, .info-title a, .footer-brand, .footer-brand a, .footer-big h5, .footer-big h5 a, .footer-big h4, .footer-big h4 a, .media .media-heading, .media .media-heading a {
    color: #3C4858;
    text-decoration: none;
}


.card-content .card-title-icon {
    padding-left: 80px;
    margin-top: -62px;
    padding-bottom: 10px;
    font-weight: 700;
    color: black;
}

.card-content .card-title { font-weight: 700; }

.panel {
    margin-bottom: 20px;
    border-radius: 4px;
}

div.dataTables_wrapper div.dataTables_info {
    
}

.login-page .card-login .card-body .input-group .form-control {
     padding-bottom: 0px;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}