﻿@using Newtonsoft.Json
@model Responsavel.WebMVC.Models.RelatorioQuantitativoArea.RelatorioQuantitativoAreaModelList

@{
    ViewBag.Acertos = JsonConvert.SerializeObject(Model.Registros.Select(x => new { Valor = x.PercentualAcerto, Nome = x.Legenda }));
    ViewBag.TotalQuestoes = Model.BarraDashboard.Item[2].Valor;
    ViewBag.Erros = JsonConvert.SerializeObject(Model.Registros.Select(x => new { Valor = x.PercentualErro, Nome = x.Legenda }));
    ViewBag.TotalAcertos = JsonConvert.SerializeObject(Model.Registros.Select(x => new { Valor = x.TotalAcerto, Nome = x.Legenda }));
    ViewBag.TotalErros = JsonConvert.SerializeObject(Model.Registros.Select(x => new { Valor = x.TotalErro, Nome = x.Legenda }));
    ViewBag.Legenda = JsonConvert.SerializeObject(Model.Registros.Select(x => x.Legenda));
}

<div class="card">
    <div class="relatorio-m" data-background-color="grafico">
        <div class="ct-chart">
            <canvas id="graficoAbsoluto"></canvas>
        </div>
    </div>
</div>

<div class="card">
    <div class="relatorio-m" data-background-color="grafico">
        <div class="ct-chart">
            <canvas id="graficoPercentual"></canvas>
        </div>
    </div>
    <div class="card-content">
        <h4 class="card-title">Total de questões avaliadas nestas turmas.</h4>
        <h3 class="card-title">@Model.Registros.Sum(x => x.TotalAcerto + x.TotalErro)</h3>
        <p class="category">Total de questões das avaliações respondidas.</p>
        <p class="category">Questões não respondidas e/ou anuladas não são contadas.</p>
        @{Html.RenderPartial("../Shared/_dicasDeUsoGrafico");}
    </div>
</div>


<script language="javascript">

    $(document).ready(function() {

        window.chartColors = {
            red: 'rgba(153, 0, 0, 0.6)',
            blue: 'rgba(0, 0, 153, 0.6)',
        };

        var labels = [], acertos = [], erros = [], totalAcertos = [], totalErros = [];

        $.map(JSON.parse('@Html.Raw(ViewBag.Legenda)'), function(item) {
            labels.push(item);
        });

        $.map(JSON.parse('@Html.Raw(ViewBag.Acertos)'), function(item) {
            acertos.push(item.Valor);
        });

        $.map(JSON.parse('@Html.Raw(ViewBag.Erros)'), function(item) {
            erros.push(item.Valor);
        });

        $.map(JSON.parse('@Html.Raw(ViewBag.TotalAcertos)'), function(item) {
            totalAcertos.push(item.Valor);
        });

        $.map(JSON.parse('@Html.Raw(ViewBag.TotalErros)'), function(item) {
            totalErros.push(item.Valor);
        });

        var ctx = document.getElementById("graficoAbsoluto");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Acertos',
                        data: totalAcertos,
                        borderColor: window.chartColors.blue,
                        backgroundColor: window.chartColors.blue,
                        fill: true,
                        cubicInterpolationMode: 'monotone'
                    }, {
                        label: 'Erros',
                        data: totalErros,
                        borderColor: window.chartColors.red,
                        backgroundColor: window.chartColors.red,
                        fill: true,
                    }

                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Quantitativo por Área - Números absolutos'
                },
                tooltips: {
                    mode: 'index'
                },
                scales: {
                    xAxes: [
                        {
                            display: true,
                            scaleLabel: {
                                display: true
                            },
                            ticks: {
                                display: true,
                                stepSize: 0,
                                min: 0,
                                autoSkip: false,
                                fontSize: 9,
                                padding: 12
                            }
                        }
                    ],
                    yAxes: [
                        {
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Números absolutos'
                            },
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: @ViewBag.TotalQuestoes,
                            }
                        }
                    ]
                }
            }

        });

        var ctxPercentual = document.getElementById("graficoPercentual");
        var myChartPercentual = new Chart(ctxPercentual, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: '% Acertos',
                        data: acertos,
                        borderColor: window.chartColors.blue,
                        backgroundColor: window.chartColors.blue,
                        fill: true,
                        cubicInterpolationMode: 'monotone'
                    }, {
                        label: '% Erros',
                        data: erros,
                        borderColor: window.chartColors.red,
                        backgroundColor: window.chartColors.red,
                        fill: true,
                    }

                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Quantitativo por Área - Percentual por aproveitamento'
                },
                tooltips: {
                    mode: 'index'
                },
                scales: {
                    xAxes: [
                        {
                            stacked: true,
                            display: true,
                            scaleLabel: {
                                display: true
                            },
                            ticks: {
                                display: true,
                                stepSize: 0,
                                min: 0,
                                autoSkip: false,
                                fontSize: 9,
                                padding: 12
                            }
                        }
                    ],
                    yAxes: [
                        {
                            stacked: true,
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Percentual'
                            },
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: @ViewBag.TotalQuestoes,
                            }
                        }
                    ]
                }
            }

        });


    });

</script>

