﻿@model Responsavel.WebMVC.Models.RelatorioQuantitativoArea.RelatorioQuantitativoAreaModelList

@{
    ViewBag.Title = "Relatório Quantitativo por Área";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_scriptsDaPagina");
}


<section class="content">

    <div class="container-fluid">
        
        <div class="row">
            
            <div div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto">

                @{
                    Html.RenderPartial("_estudantes", Model);
                }

            </div>

        </div>
        

        <div class="row">

            <div div class="col-lg-10 col-md-10 col-sm-10 ml-auto mr-auto">
                
                <div id="divRelatorio"></div>

            </div>

        </div>

    </div>

</section>



@section scripts {

    @Scripts.Render("~/bundles/Chart")
    
    <script>
        $(document).ready(function () {

            ObterRelatorio = function(turmaEstudanteId) {

                $.ajax({
                    url: "/RelatorioQuantitativoArea/ExibirRelatorio?turmaEstudanteId=" + turmaEstudanteId,
                    type: 'GET',
                    dataType: 'HTML',
                    success: function (result) {

                        setTimeout(function () {

                            $('#divRelatorio').html(result);

                        }, 0);
                    }
                });

            };


        });

    </script>

}