﻿@model Responsavel.WebMVC.Models.RelatorioQualitativoDescritor.RelatorioQualitativoDescritorModelList

@using Newtonsoft.Json

@{
    ViewBag.Acertos = JsonConvert.SerializeObject(Model.Registros.GroupBy(x => new {x.AreaId, x.DescricaoArea}, (key, grupo) => new {key.AreaId, key.DescricaoArea, Valor = Math.Round(grupo.Average(x => x.PercentualAcerto), 2)}).ToList());
    ViewBag.Erros = JsonConvert.SerializeObject(Model.Registros.GroupBy(x => new {x.AreaId, x.DescricaoArea}, (key, grupo) => new {key.AreaId, key.DescricaoArea, Valor = Math.Round(grupo.Average(x => x.PercentualErro), 2)}).ToList());
    
    ViewBag.Legenda = JsonConvert.SerializeObject(Model.Registros.Select(x => new {x.AreaId, x.DescricaoArea}).Distinct());
}

<div class="card">
    <div class="relatorio-m" data-background-color="grafico">
        <div class="ct-chart">
            <canvas id="grafico"></canvas>
        </div>
    </div>
    <div class="card-content">
        <h4 class="card-title">Total de questões avaliadas.</h4>
        <h3 class="card-title">@Model.Registros.Sum(x => x.TotalAcerto + x.TotalErro)</h3>
        <p class="category">Total de questões da (s) avaliação (ões) respondida (s) pelos estudantes da (s) turma (s).</p>
        <p class="category">Questões não respondidas e/ou anuladas não são contadas.</p>
        @{Html.RenderPartial("../Shared/_dicasDeUsoGrafico");}
    </div>
</div>

<script language="javascript">

    $(document).ready(function() {

        window.chartColors = {
            red: 'rgba(153, 0, 0, 0.6)',
            blue: 'rgba(0, 0, 153, 0.6)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        var labels = [], acertos = [], erros = [];

        $.map(JSON.parse('@Html.Raw(ViewBag.Legenda)'), function(item) {
            labels.push(item.DescricaoArea);
        });

        $.map(JSON.parse('@Html.Raw(ViewBag.Acertos)'), function(item) {
            acertos.push(item.Valor);
        });

        $.map(JSON.parse('@Html.Raw(ViewBag.Erros)'), function(item) {
            erros.push(item.Valor);
        });

        var ctx = document.getElementById("grafico");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: '% Acertos',
                        data: acertos,
                        borderColor: window.chartColors.blue,
                        backgroundColor: window.chartColors.blue,
                        fill: true,
                        cubicInterpolationMode: 'monotone'
                    }, {
                        label: '% Erros',
                        data: erros,
                        borderColor: window.chartColors.red,
                        backgroundColor: window.chartColors.red,
                        fill: true,
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Gráfico Qualitativo por Área'
                },
                tooltips: {
                    mode: 'index'
                },
                scales: {
                    xAxes: [
                        {
                            display: true,
                            scaleLabel: {
                                display: true
                            },
                            ticks: {
                                display: true,
                                stepSize: 0,
                                min: 0,
                                autoSkip: false,
                                fontSize: 9,
                                padding: 12
                            }
                        }
                    ],
                    yAxes: [
                        {
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Percentual'
                            },
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 100,
                            }
                        }
                    ]
                }
            }
        });

        //window.onload = function() {
        //    var ctx = document.getElementById('canvas').getContext('2d');
        //    window.myLine = new Chart(ctx, config);
        //};

    });

</script>

