﻿
@using System.Globalization
@model Responsavel.WebMVC.Models.RelatorioQualitativoDescritor.RelatorioQualitativoDescritorModelList

@{
    var passo = 3;
    var faixaMinima = ((100 / 3) * (passo - 1));
    var faixaMaxima = 100;
    var corBarra = "";

    <div class="card">
        <div class="card-header card-header-icon" data-background-color="">
            <i class="material-icons">priority_high</i>
        </div>
        <div class="card-content">
            <h4 class="card-title-icon">Conforme porcentagem de acertos, os descritores são classificados em:</h4>
        </div>

        <ul>
            <li class="category">Descritores satisfatórios: acima de 65% de acertos.</li>
            <li class="category">Descritores parcialmente desenvolvidos: entre 33% e 65% de acertos.</li>
            <li class="category">Descritores em desenvolvimento Inicial: abaixo de 33% de acertos.</li>
        </ul>
    </div>

    while (faixaMinima >= 0)
    {
        <div class="card">

            @if (faixaMinima >= 66)
            {
                corBarra = "progress-bar progress-bar-success";
                <div class="card-header card-header-icon" data-background-color="green">
                    <i class="material-icons">trending_up</i>
                </div>
                <div class="card-content" data-toggle="collapse" data-parent="#accordion" href="#Faixa_@faixaMinima">
                    <h3 class="card-title-icon">Descritores Satisfatórios <i class="material-icons">swap_vert</i></h3>

                </div>

            }
            @if (faixaMinima >= 33 && faixaMinima < 66)
            {
                corBarra = "progress-bar progress-bar-warning";
                <div class="card-header card-header-icon" data-background-color="orange">
                    <i class="material-icons">trending_flat</i>
                </div>
                <div class="card-content" data-toggle="collapse" data-parent="#accordion" href="#Faixa_@faixaMinima">
                    <h3 class="card-title-icon">Descritores Parcialmente Desenvolvidos <i class="material-icons">swap_vert</i></h3>

                </div>

            }
            @if (faixaMinima < 33)
            {
                corBarra = "progress-bar progress-bar-danger";
                <div class="card-header card-header-icon" data-background-color="red">
                    <i class="material-icons">trending_down</i>
                </div>
                <div class="card-content" data-toggle="collapse" data-parent="#accordion" href="#Faixa_@faixaMinima">
                    <h3 class="card-title-icon">Descritores em Desenvolvimento Inicial <i class="material-icons">swap_vert</i></h3>

                </div>

            }
            <div class="panel-collapse collapse categoria-corpo show" id="Faixa_@faixaMinima" role="tabpanel" aria-labelledby="pesquisa-header">
                @{

                    var registrosComFiltro = Model.Registros.Where(x => x.PercentualAcerto >= faixaMinima && x.PercentualAcerto <= faixaMaxima).ToList();
                    foreach (var area in registrosComFiltro.Select(x => new { x.AreaId, x.DescricaoArea }).Distinct())
                    {
                        <div class="col-md-12">
                            <div class="panel panel-info linhaRelatorio">
                                <div class="panel-heading linhaRelatorioHeading">
                                    <h4>@area.DescricaoArea</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        @foreach (var registro in registrosComFiltro.Where(x => x.AreaId == area.AreaId))
                                        {
                                        <div>
                                            <p>@registro.DescricaoAvaliacao</p>
                                            <p>@registro.DescricaoDescritor</p>
                                        </div>
                                            <div class="progress">
                                                <div class="@corBarra" role="progressbar" aria-valuenow="@registro.PercentualAcerto.ToString(CultureInfo.InvariantCulture)"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: @registro.PercentualAcerto.ToString(CultureInfo.InvariantCulture)%">
                                                    @registro.PercentualAcerto
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                                @*<div class="panel-footer" style="text-align: right">
                                        <h4>Média atingida para @area.DescricaoArea : @Math.Round(registrosComFiltro.Where(x => x.AreaId == area.AreaId).Average(x => x.PercentualAcerto), 2)</h4>
                                    </div>*@
                            </div>

                        </div>
                    }
                }
            </div>

        </div>

                        faixaMinima = ((100 / 3) * (--passo - 1));
                        faixaMaxima = ((100 / 3) * passo);
                    }

}
