﻿@model Responsavel.WebMVC.Models.RelatorioQuantitativoDistribuicao.RelatorioQuantitativoDistribuicaoModelList

@{
    var listaResposta = new List<string> {"A", "B", "C", "D", "E", ""};

}
@using (Html.BeginForm("LimparPesquisa", "RelatorioQuantitativoDistribuicao", FormMethod.Post, new { id = "Lista-Escola-Usuario" }))
{

    <div class="card">

        <div class="card-content">
            <h3 class="card-title">Distribuição das Respostas</h3>

            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.Page)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOrder)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortDirection)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOld)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.UrlRetorno)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.PaginacaoEOrdenacaoUrlRetorno)
            @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.PesquisaUrlRetorno)

            <div class="table-responsive">
                <table id="datatables" class="table table-striped relatorio-distribuicao table-hover" cellspacing="0" width="100%" style="width: 100%">
                    <thead>
                        <tr>
                            <th>
                                Gabarito
                            </th>
                            <th>
                                Área
                            </th>
                            <th>
                                Disciplina
                            </th>
                            <th style="width: 100px">
                                Questão
                            </th>
                            @{
                                foreach (var resposta in listaResposta)
                                {
                                    <th style="text-align: center; width: 60px">
                                        @resposta
                                    </th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Registros.Select(x => new {x.DescricaoItem, x.DescricaoArea, x.AvaliacaoItemId, x.AvaliacaoItemGuid, x.OrdemAno, x.Questao, x.DescritorId, x.Gabarito, x.DescricaoDisciplina}).Distinct().OrderBy(z => z.AvaliacaoItemId).ThenBy(z => z.OrdemAno))
                        {
                        <tr>
                            <td title="@item.DescricaoItem" data-toggle="tooltip" data-placement="bottom">@(item.DescricaoItem.Length > 60 ? item.DescricaoItem.Substring(0, 60) : item.DescricaoItem)</td>
                            <td>@item.DescricaoArea</td>
                            <td>@item.DescricaoDisciplina</td>
                            <td>@item.Questao</td>
                            @{
                                foreach (var letra in listaResposta)
                                {
                                    var notaMaxima = Model.Registros.Where(x => x.AvaliacaoItemId == item.AvaliacaoItemId && x.Questao == item.Questao).GroupBy(z => new { z.Resposta, }, (key, grupo) => new { key.Resposta, Total = grupo.Count() }).Max(y => y.Total);
                                    var totalResposta = Model.Registros.Count(x => x.AvaliacaoItemId == item.AvaliacaoItemId && x.Questao == item.Questao && x.Resposta.Equals(letra));
                                    var bgcolor = letra.Equals(item.Gabarito) ? "relatorio-distribuicao-acerto" : totalResposta > 0 ? "relatorio-distribuicao-erro" : "relatorio-distribuicao-vazio";
                                    var cssNotaMaxima = totalResposta == notaMaxima ? "relatorio-distribuicao-notamaxima" : "";
                                    var respostaCorreta = totalResposta > 0 ? " ( X )" : "";
                                    <td class="@bgcolor @cssNotaMaxima">
                                        @letra @respostaCorreta
                                    </td>
                                }
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            @{Html.RenderPartial("../Shared/_dicasDeUsoTabela");}

        </div>

    </div>

}


@section scripts {

    @Scripts.Render("~/bundles/dataTable")

}

<script type="text/javascript">

    $(document).ready(function () {

        var totalColunas = $("datatables").find("tr:first td").length - 1;
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [25, 50, 100, 150, 200, 250, -1],
                [25, 50, 100, 150, 200, 250, "Todos"]
            ],
            responsive: true,
            language: {
                "url": '/Content/jquery.datatables.language.jSon',
                search: "_INPUT_",
                searchPlaceholder: " contendo...",
            },
            buttons: [],
            "columnDefs": [
                {
                    "targets": [totalColunas],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }
            ]
        });

        setTimeout(function () {
            $('.material-datatables').show();
            $('#aguardeCarregar').hide();
        }, 1000);


        var table = $('#datatables').DataTable();

        // Edit record
        table.on('click', '.edit', function () {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        $('.card .material-datatables label').addClass('form-group');

    });
</script>


