﻿@model Responsavel.WebMVC.Models.RelatorioQuantitativoDistribuicao.RelatorioQuantitativoDistribuicaoModelList


@using (Html.BeginForm("LimparPesquisa", "RelatorioQuantitativoDistribuicao", FormMethod.Post, new { id = "Form-Pesquisar" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.Page)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOrder)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortDirection)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.SortOld)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.UrlRetorno)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.PaginacaoEOrdenacaoUrlRetorno)
    @Html.HiddenFor(m => Model.PaginacaoEOrdenacao.PesquisaUrlRetorno)


    <div class="card">

        <div class="card-header-noborder" data-background-color="blue">
            <h4 class="title">Pesquisa</h4>
            <p class="category">Escolha a escola, turma e a avaliação que você deseja ver os resultados. Depois, clique em exibir dados.</p>
        </div>

        <div class="card-content">

            @{ Html.RenderPartial("_pesquisaRelatorio", Model.Pesquisa);}

            <div class="footer pull-left">
                <button class="btn btn-custom-default cancel">
                    Limpar pesquisa
                </button>

                <button class="btn btn-custom-salvar" id="btnExibirRelatorio">
                    Exibir dados
                </button>
            </div>

        </div>
    </div>
}



<script type="text/javascript">

    $(document).ready(function () {

        var form = document.getElementById("Form-Pesquisar"),
            jqForm = $(form);

        $("#btnExibirRelatorio").click(function (e) {

            waitingDialog.show();

            e.preventDefault();
            if (jqForm.valid()) {

                var model = jqForm.serializeArray();

                $.ajax({
                    url: "/RelatorioQuantitativoDistribuicao/ExibirRelatorio",
                    type: 'GET',
                    data: model,
                    dataType: 'HTML',
                    success: function (result) {

                        setTimeout(function () {

                            $('#divRelatorio').html(result);

                        }, 0);
                    }
                });
            }
        });
    });

</script>
